<a href="https://colab.research.google.com/github/DartagnanFreire/Campeonato-Brasileiro-Previsao/blob/main/Campe%C3%A3o_do_Brasileiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/DartagnanFreire/Campeonato-Brasileiro-Previsao/main/Camp%20Brasileiro%202022.csv')
df.head()

                  TIME
0      PALMEIRAS|62.35
1  INTERNACIONAL|46.46
2       FLAMENGO|69.36
3     FLUMINENSE|51.98
4    CORINTHIANS|52.46

In [ ]:
import random

class Team:
  BEST_SCORE = 75.26

 
  def __init__(self, cellData):
    teamData = cellData.split('|')
    self.name = teamData[0]
    self.score = float(teamData[1])

  def motivate(self):
    """ 
    Valor inicial com base na proporção do score do pior time (Juventude com 43.01) com o melhor Time (Atlético - MG com 75.26)
    """
    self.lastMotivation = random.uniform(48, (self.score * 100) / Team.BEST_SCORE)
    return self.lastMotivation

In [ ]:
bestTeamsByGroup = {}
for label, content in df.items():
  PAL = Team(content[0])
  INT = Team(content[1])
  FLA = Team(content[2])
  FLU = Team(content[3])
  COR = Team(content[4])
  ATH = Team(content[5])
  CAM = Team(content[6])
  AME = Team(content[7])
  GOI = Team(content[8])
  SAN = Team(content[9])
  BRA = Team(content[10])
  BOT = Team(content[11])
  SAO = Team(content[12])
  CEA = Team(content[13])
  FOR = Team(content[14])
  CTB = Team(content[15])
  CUI = Team(content[16])
  AVA = Team(content[17])
  ATL = Team(content[18])
  JUV = Team(content[19])
  
  bestTeamsByGroup[label] = sorted([ PAL, INT, FLA, FLU, COR, ATH, CAM, AME, GOI, SAN, BRA, BOT, SAO, CEA, FOR, CTB, CUI, AVA, ATL, JUV], key=Team.motivate, reverse=True)

for grupo, motivatedTeams in bestTeamsByGroup.items():
  for team in motivatedTeams:
    print(f'{team.name} ({team.lastMotivation:.2f})')
    
  print()

BOTAFOGO (75.11)
PALMEIRAS (71.76)
BRAGANTINO (69.39)
FORTALEZA (68.02)
ATLÉTICO-MG (66.37)
ATLÉTICO-GO (63.57)
AVAÍ (63.00)
FLAMENGO (62.52)
CEARÁ (59.75)
AMÉRICA-MG (58.89)
SÃO PAULO (56.75)
GOIÁS (55.36)
SANTOS (54.76)
CORINTHIANS (54.62)
ATHLETICO-PR (53.62)
FLUMINENSE (52.90)
INTERNACIONAL (51.01)
CUIABÁ (49.37)
CORITIBA (48.51)
JUVENTUDE (48.04)

In [ ]:
# Rodada 1

df['Rodada 1'] = pd.Series(dtype='int') 
if (FLU.motivate()*1.15) - SAN.motivate() > 5: 
  df.loc[3, 'Rodada 1'] = 3
elif (FLU.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[3,'Rodada 1'] = 1
  df.loc[9,'Rodada 1'] = 1
else:
  df.loc[9,'Rodada 1'] = 3

if (ATL.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[18,'Rodada 1'] = 3
elif (ATL.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[18,'Rodada 1'] = 1
  df.loc[2,'Rodada 1'] = 1
else:
  df.loc[2,'Rodada 1'] = 3

if (PAL.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[0,'Rodada 1'] = 3
elif (PAL.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[0,'Rodada 1'] = 1
  df.loc[13,'Rodada 1'] = 1
else:
  df.loc[13,'Rodada 1'] = 3

if (CTB.motivate()*1.15) - GOI.motivate() >5:
  df.loc[15,'Rodada 1'] = 3
elif (CTB.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[15,'Rodada 1'] = 1
  df.loc[8,'Rodada 1'] = 1
else:
  df.loc[8,'Rodada 1'] = 3

if (CAM.motivate()*1.15) - INT.motivate() > 5:
  df.loc[6,'Rodada 1'] = 3 
elif (CAM.lastMotivation*1.15) - INT.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[6,'Rodada 1'] = 1
  df.loc[1,'Rodada 1'] = 1
else:
  df.loc[1,'Rodada 1'] = 3

if (BOT.motivate()*1.15) - COR.motivate() > 5:
  df.loc[11,'Rodada 1'] = 3
elif (BOT.lastMotivation*1.15) - COR.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[11,'Rodada 1'] = 1
  df.loc[4,'Rodada 1'] = 1
else:
  df.loc[4,'Rodada 1'] = 3

if (FOR.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[14,'Rodada 1'] = 3
elif (FOR.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[14,'Rodada 1'] = 1
  df.loc[16,'Rodada 1'] = 1
else:
  df.loc[16,'Rodada 1'] = 3

if (SAO.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[12,'Rodada 1'] = 3
elif (SAO.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[12,'Rodada 1'] = 1
  df.loc[5,'Rodada 1'] = 1
else:
  df.loc[5,'Rodada 1'] = 3

if (AVA.motivate()*1.15) - AME.motivate() > 5:
  df.loc[17,'Rodada 1'] = 3
elif (AVA.lastMotivation*1.15) - AME.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[17,'Rodada 1'] = 1
  df.loc[7,'Rodada 1'] = 1
else:
  df.loc[7,'Rodada 1'] = 3

if (JUV.motivate()*1.15) - BRA.motivate()> 5:
  df.loc[19,'Rodada 1'] = 3
elif (JUV.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[19,'Rodada 1'] = 1
  df.loc[10,'Rodada 1'] = 1
else:
  df.loc[10,'Rodada 1'] = 3

In [ ]:
# Rodada 2

df['Rodada 2'] = pd.Series(dtype='int') 
if (GOI.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[8, 'Rodada 2'] = 3
elif (GOI.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[8,'Rodada 2'] = 1
  df.loc[0,'Rodada 2'] = 1 
else:
  df.loc[0, 'Rodada 2'] = 3

if (AME.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[7, 'Rodada 2'] = 3
elif (AME.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (AME.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[7,'Rodada 2'] = 1
  df.loc[19,'Rodada 2'] = 1 
else:
  df.loc[19, 'Rodada 2'] = 3

if (COR.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[4, 'Rodada 2'] = 3
elif (COR.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (COR.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[4,'Rodada 2'] = 1
  df.loc[17,'Rodada 2'] = 1 
else:
  df.loc[17, 'Rodada 2'] = 3

if (CUI.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[16, 'Rodada 2'] = 3
elif (CUI.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[16,'Rodada 2'] = 1
  df.loc[3,'Rodada 2'] = 1 
else:
  df.loc[3, 'Rodada 2'] = 3

if (SAN.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[9, 'Rodada 2'] = 3
elif (SAN.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[9,'Rodada 2'] = 1
  df.loc[15,'Rodada 2'] = 1 
else:
  df.loc[15, 'Rodada 2'] = 3

if (FLA.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[2, 'Rodada 2'] = 3
elif (FLA.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[2,'Rodada 2'] = 1
  df.loc[12,'Rodada 2'] = 1 
else:
  df.loc[12, 'Rodada 2'] = 3

if (BRA.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[10, 'Rodada 2'] = 3
elif (BRA.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[10,'Rodada 2'] = 1
  df.loc[18,'Rodada 2'] = 1 
else:
  df.loc[18, 'Rodada 2'] = 3

if (ATH.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[5, 'Rodada 2'] = 3
elif (ATH.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[5,'Rodada 2'] = 1
  df.loc[6,'Rodada 2'] = 1 
else:
  df.loc[6, 'Rodada 2'] = 3

if (INT.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[1, 'Rodada 2'] = 3
elif( INT.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (INT.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[1,'Rodada 2'] = 1
  df.loc[14,'Rodada 2'] = 1 
else:
  df.loc[14, 'Rodada 2'] = 3

if (CEA.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[13, 'Rodada 2'] = 3
elif (CEA.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[13,'Rodada 2'] = 1
  df.loc[11,'Rodada 2'] = 1 
else:
  df.loc[11, 'Rodada 2'] = 3

In [ ]:
# Rodada 3

df['Rodada 3'] = pd.Series(dtype='int') 
if (BRA.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[10, 'Rodada 3'] = 3
elif (BRA.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[10,'Rodada 3'] = 1
  df.loc[12,'Rodada 3'] = 1 
else:
  df.loc[12, 'Rodada 3'] = 3  

if (ATH.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[5, 'Rodada 3'] = 3
elif (ATH.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[5,'Rodada 3'] = 1
  df.loc[2,'Rodada 3'] = 1 
else:
  df.loc[2, 'Rodada 3'] = 3  

if (FLU.motivate()*1.15) - INT.motivate() > 5:
  df.loc[3, 'Rodada 3'] = 3
elif (FLU.lastMotivation*1.15) - INT.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[3,'Rodada 3'] = 1
  df.loc[1,'Rodada 3'] = 1 
else:
  df.loc[1, 'Rodada 3'] = 3  

if (PAL.motivate()*1.15) - COR.motivate() > 5:
  df.loc[0, 'Rodada 3'] = 3
elif (PAL.lastMotivation*1.15) - COR.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[0,'Rodada 3'] = 1
  df.loc[4,'Rodada 3'] = 1 
else:
  df.loc[4, 'Rodada 3'] = 3  
  
if (CAM.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[6, 'Rodada 3'] = 3
elif (CAM.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[6,'Rodada 3'] = 1
  df.loc[15,'Rodada 3'] = 1 
else:
  df.loc[15, 'Rodada 3'] = 3  

if (SAN.motivate()*1.15) - AME.motivate() > 5:
  df.loc[9, 'Rodada 3'] = 3
elif (SAN.lastMotivation*1.15) - AME.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[9,'Rodada 3'] = 1
  df.loc[7,'Rodada 3'] = 1 
else:
  df.loc[7, 'Rodada 3'] = 3  

if (JUV.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[19, 'Rodada 3'] = 3
elif (JUV.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[19,'Rodada 3'] = 1
  df.loc[16,'Rodada 3'] = 1 
else:
  df.loc[16, 'Rodada 3'] = 3  

if( ATL.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[18, 'Rodada 3'] = 3
elif (ATL.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[18,'Rodada 3'] = 1
  df.loc[11,'Rodada 3'] = 1 
else:
  df.loc[11, 'Rodada 3'] = 3  

if (AVA.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[17, 'Rodada 3'] = 3
elif (AVA.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[17,'Rodada 3'] = 1
  df.loc[8,'Rodada 3'] = 1 
else:
  df.loc[8, 'Rodada 3'] = 3  

if (FOR.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[14, 'Rodada 3'] = 3
elif (FOR.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[14,'Rodada 3'] = 1
  df.loc[13,'Rodada 3'] = 1 
else:
  df.loc[13, 'Rodada 3'] = 3

In [ ]:
# Rodada 4

df['Rodada 4'] = pd.Series(dtype='int') 
if (FLA.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[2, 'Rodada 4'] = 3
elif (FLA.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[2,'Rodada 4'] = 1
  df.loc[0,'Rodada 4'] = 1 
else:
  df.loc[0, 'Rodada 4'] = 3  

if (AME.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[7, 'Rodada 4'] = 3
elif (AME.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (AME.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[7,'Rodada 4'] = 1
  df.loc[5,'Rodada 4'] = 1 
else:
  df.loc[5, 'Rodada 4'] = 3  

if (CEA.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[13, 'Rodada 4'] = 3
elif (CEA.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[13,'Rodada 4'] = 1
  df.loc[10,'Rodada 4'] = 1 
else:
  df.loc[10, 'Rodada 4'] = 3  
  
if (GOI.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[8, 'Rodada 4'] = 3
elif (GOI.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[8,'Rodada 4'] = 1
  df.loc[6,'Rodada 4'] = 1 
else:
  df.loc[6, 'Rodada 4'] = 3  

if (CUI.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[16, 'Rodada 4'] = 3
elif (CUI.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[16,'Rodada 4'] = 1
  df.loc[18,'Rodada 4'] = 1 
else:
  df.loc[18, 'Rodada 4'] = 3  

if (BOT.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[11, 'Rodada 4'] = 3
elif (BOT.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[11,'Rodada 4'] = 1
  df.loc[19,'Rodada 4'] = 1 
else:
  df.loc[19, 'Rodada 4'] = 3  

if (COR.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[4, 'Rodada 4'] = 3
elif (COR.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (COR.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[4,'Rodada 4'] = 1
  df.loc[14,'Rodada 4'] = 1 
else:
  df.loc[14, 'Rodada 4'] = 3  

if (CTB.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[15, 'Rodada 4'] = 3
elif (CTB.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[15,'Rodada 4'] = 1
  df.loc[3,'Rodada 4'] = 1 
else:
  df.loc[3, 'Rodada 4'] = 3  
  
if (INT.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[1, 'Rodada 4'] = 3
elif (INT.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (INT.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[1,'Rodada 4'] = 1
  df.loc[17,'Rodada 4'] = 1 
else:
  df.loc[17, 'Rodada 4'] = 3  

if (SAO.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[12, 'Rodada 4'] = 3
elif (SAO.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[12,'Rodada 4'] = 1
  df.loc[9,'Rodada 4'] = 1 
else:
  df.loc[9, 'Rodada 4'] = 3

In [ ]:
# Rodada 5

df['Rodada 5'] = pd.Series(dtype='int') 
if (CAM.motivate()*1.15) - AME.motivate() > 5:
  df.loc[6, 'Rodada 5'] = 3
elif (CAM.lastMotivation*1.15) - AME.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[6,'Rodada 5'] = 1
  df.loc[7,'Rodada 5'] = 1
else:
  df.loc[7, 'Rodada 5'] = 3

if (ATH.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[5, 'Rodada 5'] = 3
elif (ATH.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[5,'Rodada 5'] = 1
  df.loc[13,'Rodada 5'] = 1
else:
  df.loc[13, 'Rodada 5'] = 3

if (FLA.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[2, 'Rodada 5'] = 3
elif (FLA.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[2,'Rodada 5'] = 1
  df.loc[11,'Rodada 5'] = 1
else:
  df.loc[11, 'Rodada 5'] = 3

if (PAL.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[0, 'Rodada 5'] = 3
elif (PAL.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[0,'Rodada 5'] = 1
  df.loc[3,'Rodada 5'] = 1
else:
  df.loc[3, 'Rodada 5'] = 3

if (ATL.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[18, 'Rodada 5'] = 3
elif (ATL.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[18,'Rodada 5'] = 1
  df.loc[8,'Rodada 5'] = 1
else:
  df.loc[8, 'Rodada 5'] = 3

if (BRA.motivate()*1.15) - COR.motivate() > 5:
  df.loc[10, 'Rodada 5'] = 3
elif (BRA.lastMotivation*1.15) - COR.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[10,'Rodada 5'] = 1
  df.loc[4,'Rodada 5'] = 1
else:
  df.loc[4, 'Rodada 5'] = 3

if (SAN.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[9, 'Rodada 5'] = 3
elif (SAN.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[9,'Rodada 5'] = 1
  df.loc[16,'Rodada 5'] = 1
else:
  df.loc[16, 'Rodada 5'] = 3

if (JUV.motivate()*1.15) - INT.motivate() > 5:
  df.loc[19, 'Rodada 5'] = 3
elif (JUV.lastMotivation*1.15) - INT.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[19,'Rodada 5'] = 1
  df.loc[1,'Rodada 5'] = 1
else:
  df.loc[1, 'Rodada 5'] = 3

if (FOR.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[14, 'Rodada 5'] = 3
elif (FOR.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[14,'Rodada 5'] = 1
  df.loc[12,'Rodada 5'] = 1
else:
  df.loc[12, 'Rodada 5'] = 3

if (AVA.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[17, 'Rodada 5'] = 3
elif (AVA.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[17,'Rodada 5'] = 1
  df.loc[15,'Rodada 5'] = 1
else:
  df.loc[15, 'Rodada 5'] = 3

In [ ]:
# Rodada 6

df['Rodada 6'] = pd.Series(dtype='int') 
if (PAL.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[0, 'Rodada 6'] = 3
elif (PAL.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[0,'Rodada 6'] = 1
  df.loc[10,'Rodada 6'] = 1
else:
  df.loc[10, 'Rodada 6'] = 3

if (CEA.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[13, 'Rodada 6'] = 3
elif (CEA.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[13,'Rodada 6'] = 1
  df.loc[2,'Rodada 6'] = 1
else:
  df.loc[2, 'Rodada 6'] = 3

if (CAM.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[6, 'Rodada 6'] = 3
elif (CAM.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[6,'Rodada 6'] = 1
  df.loc[18,'Rodada 6'] = 1
else:
  df.loc[18, 'Rodada 6'] = 3

if (INT.motivate()*1.15) - COR.motivate() > 5:
  df.loc[1, 'Rodada 6'] = 3
elif (INT.lastMotivation*1.15) - COR.lastMotivation <= 5 and (INT.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[1,'Rodada 6'] = 1
  df.loc[4,'Rodada 6'] = 1
else:
  df.loc[4, 'Rodada 6'] = 3

if (FLU.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[3, 'Rodada 6'] = 3
elif (FLU.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[3,'Rodada 6'] = 1
  df.loc[5,'Rodada 6'] = 1
else:
  df.loc[5, 'Rodada 6'] = 3

if (SAO.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[12, 'Rodada 6'] = 3
elif (SAO.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[12,'Rodada 6'] = 1
  df.loc[16,'Rodada 6'] = 1
else:
  df.loc[16, 'Rodada 6'] = 3

if (CTB.motivate()*1.15) - AME.motivate() > 5:
  df.loc[15, 'Rodada 6'] = 3
elif (CTB.lastMotivation*1.15) - AME.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[15,'Rodada 6'] = 1
  df.loc[7,'Rodada 6'] = 1
else:
  df.loc[7, 'Rodada 6'] = 3

if (BOT.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[11, 'Rodada 6'] = 3
elif (BOT.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[11,'Rodada 6'] = 1
  df.loc[14,'Rodada 6'] = 1
else:
  df.loc[14, 'Rodada 6'] = 3

if (AVA.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[17, 'Rodada 6'] = 3
elif (AVA.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[17,'Rodada 6'] = 1
  df.loc[19,'Rodada 6'] = 1
else:
  df.loc[19, 'Rodada 6'] = 3

if (GOI.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[8, 'Rodada 6'] = 3
elif (GOI.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[8,'Rodada 6'] = 1
  df.loc[9,'Rodada 6'] = 1
else:
  df.loc[9, 'Rodada 6'] = 3

In [ ]:
# Rodada 7

df['Rodada 7'] = pd.Series(dtype='int') 
if (BRA.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[10, 'Rodada 7'] = 3
elif (BRA.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[10,'Rodada 7'] = 1
  df.loc[6,'Rodada 7'] = 1
else:
  df.loc[6, 'Rodada 7'] = 3

if (FLA.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[2, 'Rodada 7'] = 3
elif (FLA.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[2,'Rodada 7'] = 1
  df.loc[8,'Rodada 7'] = 1
else:
  df.loc[8, 'Rodada 7'] = 3

if (ATL.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[18, 'Rodada 7'] = 3
elif (ATL.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[18,'Rodada 7'] = 1
  df.loc[15,'Rodada 7'] = 1
else:
  df.loc[15, 'Rodada 7'] = 3

if (SAN.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[9, 'Rodada 7'] = 3
elif (SAN.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[9,'Rodada 7'] = 1
  df.loc[13,'Rodada 7'] = 1
else:
  df.loc[13, 'Rodada 7'] = 3

if (JUV.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[19, 'Rodada 7'] = 3
elif (JUV.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[19,'Rodada 7'] = 1
  df.loc[0,'Rodada 7'] = 1
else:
  df.loc[0, 'Rodada 7'] = 3

if (AME.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[7, 'Rodada 7'] = 3
elif (AME.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (AME.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[7,'Rodada 7'] = 1
  df.loc[11,'Rodada 7'] = 1
else:
  df.loc[11, 'Rodada 7'] = 3

if (CUI.motivate()*1.15) - INT.motivate() > 5:
  df.loc[16, 'Rodada 7'] = 3
elif (CUI.lastMotivation*1.15) - INT.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[16,'Rodada 7'] = 1
  df.loc[1,'Rodada 7'] = 1
else:
  df.loc[1, 'Rodada 7'] = 3

if (COR.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[4, 'Rodada 7'] = 3
elif (COR.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (COR.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[4,'Rodada 7'] = 1
  df.loc[12,'Rodada 7'] = 1
else:
  df.loc[12, 'Rodada 7'] = 3

if (FOR.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[14, 'Rodada 7'] = 3
elif (FOR.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[14,'Rodada 7'] = 1
  df.loc[3,'Rodada 7'] = 1
else:
  df.loc[3, 'Rodada 7'] = 3

if (ATH.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[5, 'Rodada 7'] = 3
elif (ATH.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[5,'Rodada 7'] = 1
  df.loc[17,'Rodada 7'] = 1
else:
  df.loc[17, 'Rodada 7'] = 3

In [ ]:
# Rodada 8

df['Rodada 8'] = pd.Series(dtype='int') 
if (GOI.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[8, 'Rodada 8'] = 3
elif (GOI.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[8,'Rodada 8'] = 1
  df.loc[10,'Rodada 8'] = 1
else:
  df.loc[10, 'Rodada 8'] = 3

if (SAO.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[12, 'Rodada 8'] = 3
elif (SAO.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[12,'Rodada 8'] = 1
  df.loc[13,'Rodada 8'] = 1
else:
  df.loc[13, 'Rodada 8'] = 3

if (FOR.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[14, 'Rodada 8'] = 3
elif (FOR.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[14,'Rodada 8'] = 1
  df.loc[19,'Rodada 8'] = 1
else:
  df.loc[19, 'Rodada 8'] = 3

if (SAN.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[9, 'Rodada 8'] = 3
elif (SAN.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[9,'Rodada 8'] = 1
  df.loc[0,'Rodada 8'] = 1
else:
  df.loc[0, 'Rodada 8'] = 3

if (CTB.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[15, 'Rodada 8'] = 3
elif (CTB.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[15,'Rodada 8'] = 1
  df.loc[11,'Rodada 8'] = 1
else:
  df.loc[11, 'Rodada 8'] = 3

if (FLU.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[3, 'Rodada 8'] = 3
elif (FLU.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[3,'Rodada 8'] = 1
  df.loc[2,'Rodada 8'] = 1
else:
  df.loc[2, 'Rodada 8'] = 3

if (COR.motivate()*1.15) - AME.motivate() > 5:
  df.loc[4, 'Rodada 8'] = 3
elif (COR.lastMotivation*1.15) - AME.lastMotivation <= 5 and (COR.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[4,'Rodada 8'] = 1
  df.loc[7,'Rodada 8'] = 1
else:
  df.loc[7, 'Rodada 8'] = 3

if (CUI.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[16, 'Rodada 8'] = 3
elif (CUI.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[16,'Rodada 8'] = 1
  df.loc[5,'Rodada 8'] = 1
else:
  df.loc[5, 'Rodada 8'] = 3

if (CAM.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[6, 'Rodada 8'] = 3
elif (CAM.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[6,'Rodada 8'] = 1
  df.loc[17,'Rodada 8'] = 1
else:
  df.loc[17, 'Rodada 8'] = 3

if (INT.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[1, 'Rodada 8'] = 3
elif (INT.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (INT.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[1,'Rodada 8'] = 1
  df.loc[18,'Rodada 8'] = 1
else:
  df.loc[18, 'Rodada 8'] = 3

In [ ]:
# Rodada 9

df['Rodada 9'] = pd.Series(dtype='int') 
if (AME.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[7, 'Rodada 9'] = 3
elif (AME.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (AME.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[7,'Rodada 9'] = 1
  df.loc[16,'Rodada 9'] = 1
else:
  df.loc[16, 'Rodada 9'] = 3

if (CEA.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[13, 'Rodada 9'] = 3
elif (CEA.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[13,'Rodada 9'] = 1
  df.loc[15,'Rodada 9'] = 1
else:
  df.loc[15, 'Rodada 9'] = 3

if (AVA.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[17, 'Rodada 9'] = 3
elif (AVA.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[17,'Rodada 9'] = 1
  df.loc[12,'Rodada 9'] = 1
else:
  df.loc[12, 'Rodada 9'] = 3

if (ATH.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[5, 'Rodada 9'] = 3
elif (ATH.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[5,'Rodada 9'] = 1
  df.loc[9,'Rodada 9'] = 1
else:
  df.loc[9, 'Rodada 9'] = 3

if (ATL.motivate()*1.15) - COR.motivate() > 5:
  df.loc[18, 'Rodada 9'] = 3
elif (ATL.lastMotivation*1.15) - COR.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[18,'Rodada 9'] = 1
  df.loc[4,'Rodada 9'] = 1
else:
  df.loc[4, 'Rodada 9'] = 3

if (JUV.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[19, 'Rodada 9'] = 3
elif (JUV.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[19,'Rodada 9'] = 1
  df.loc[3,'Rodada 9'] = 1
else:
  df.loc[3, 'Rodada 9'] = 3

if (FLA.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[2, 'Rodada 9'] = 3
elif (FLA.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[2,'Rodada 9'] = 1
  df.loc[14,'Rodada 9'] = 1
else:
  df.loc[14, 'Rodada 9'] = 3

if (PAL.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[0, 'Rodada 9'] = 3
elif (PAL.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[0,'Rodada 9'] = 1
  df.loc[6,'Rodada 9'] = 1
else:
  df.loc[6, 'Rodada 9'] = 3

if (BRA.motivate()*1.15) - INT.motivate() > 5:
  df.loc[10, 'Rodada 9'] = 3
elif (BRA.lastMotivation*1.15) - INT.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[10,'Rodada 9'] = 1
  df.loc[1,'Rodada 9'] = 1
else:
  df.loc[1, 'Rodada 9'] = 3

if (BOT.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[11, 'Rodada 9'] = 3
elif (BOT.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[11,'Rodada 9'] = 1
  df.loc[8,'Rodada 9'] = 1
else:
  df.loc[8, 'Rodada 9'] = 3

In [ ]:
# Rodada 10

df['Rodada 10'] = pd.Series(dtype='int') 
if (CUI.motivate()*1.15) - COR.motivate() > 5:
  df.loc[16, 'Rodada 10'] = 3
elif (CUI.lastMotivation*1.15) - COR.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[16,'Rodada 10'] = 1
  df.loc[4,'Rodada 10'] = 1
else:
  df.loc[4, 'Rodada 10'] = 3

if (AME.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[7, 'Rodada 10'] = 3
elif (AME.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (AME.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[7,'Rodada 10'] = 1
  df.loc[13,'Rodada 10'] = 1
else:
  df.loc[13, 'Rodada 10'] = 3

if (JUV.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[19, 'Rodada 10'] = 3
elif (JUV.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[19,'Rodada 10'] = 1
  df.loc[5,'Rodada 10'] = 1
else:
  df.loc[5, 'Rodada 10'] = 3

if (BRA.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[10, 'Rodada 10'] = 3
elif (BRA.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[10,'Rodada 10'] = 1
  df.loc[2,'Rodada 10'] = 1
else:
  df.loc[2, 'Rodada 10'] = 3

if (ATL.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[18, 'Rodada 10'] = 3
elif (ATL.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[18,'Rodada 10'] = 1
  df.loc[17,'Rodada 10'] = 1
else:
  df.loc[17, 'Rodada 10'] = 3

if (FLU.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[3, 'Rodada 10'] = 3
elif (FLU.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[3,'Rodada 10'] = 1
  df.loc[6,'Rodada 10'] = 1
else:
  df.loc[6, 'Rodada 10'] = 3

if (SAN.motivate()*1.15) - INT.motivate() > 5:
  df.loc[9, 'Rodada 10'] = 3
elif (SAN.lastMotivation*1.15) - INT.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[9,'Rodada 10'] = 1
  df.loc[1,'Rodada 10'] = 1
else:
  df.loc[1, 'Rodada 10'] = 3

if (PAL.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[0, 'Rodada 10'] = 3
elif (PAL.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[0,'Rodada 10'] = 1
  df.loc[11,'Rodada 10'] = 1
else:
  df.loc[11, 'Rodada 10'] = 3

if (FOR.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[14, 'Rodada 10'] = 3
elif (FOR.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[14,'Rodada 10'] = 1
  df.loc[8,'Rodada 10'] = 1
else:
  df.loc[8, 'Rodada 10'] = 3

if (CTB.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[15, 'Rodada 10'] = 3
elif (CTB.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[15,'Rodada 10'] = 1
  df.loc[12,'Rodada 10'] = 1
else:
  df.loc[12, 'Rodada 10'] = 3

In [ ]:
# Rodada 11

df['Rodada 11'] = pd.Series(dtype='int') 
if (COR.motivate()) - JUV.motivate() > 5:
  df.loc[4, 'Rodada 11'] = 3
elif (COR.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (COR.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[4,'Rodada 11'] = 1
  df.loc[19,'Rodada 11'] = 1
else:
  df.loc[19, 'Rodada 11'] = 3

if (CAM.motivate()) - SAN.motivate() > 5:
  df.loc[6, 'Rodada 11'] = 3
elif (CAM.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[6,'Rodada 11'] = 1
  df.loc[9,'Rodada 11'] = 1
else:
  df.loc[9, 'Rodada 11'] = 3

if (FLU.motivate()) - ATL.motivate() > 5:
  df.loc[3, 'Rodada 11'] = 3
elif (FLU.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[3, 'Rodada 11'] = 1
  df.loc[18,'Rodada 11'] = 1
else:
  df.loc[18, 'Rodada 11'] = 3

if (CUI.motivate()) - BRA.motivate() > 5:
  df.loc[16, 'Rodada 11'] = 3
elif (CUI.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[16,'Rodada 11'] = 1
  df.loc[10,'Rodada 11'] = 1
else:
  df.loc[10, 'Rodada 11'] = 3

if (INT.motivate()) - FLA.motivate() > 5:
  df.loc[1, 'Rodada 11'] = 3
elif (INT.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (INT.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[1,'Rodada 11'] = 1
  df.loc[2,'Rodada 11'] = 1
else:
  df.loc[2, 'Rodada 11'] = 3

if (SAO.motivate()) - AME.motivate() > 5:
  df.loc[12, 'Rodada 11'] = 3
elif (SAO.lastMotivation*1.15) - AME.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[12,'Rodada 11'] = 1
  df.loc[7,'Rodada 11'] = 1
else:
  df.loc[7, 'Rodada 11'] = 3

if (GOI.motivate()) - CEA.motivate() > 5:
  df.loc[8, 'Rodada 11'] = 3
elif (GOI.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[8,'Rodada 11'] = 1
  df.loc[13,'Rodada 11'] = 1
else:
  df.loc[13, 'Rodada 11'] = 3

if (CTB.motivate()) - PAL.motivate() > 5:
  df.loc[15, 'Rodada 11'] = 3
elif (CTB.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[15,'Rodada 11'] = 1
  df.loc[0,'Rodada 11'] = 1
else:
  df.loc[0, 'Rodada 11'] = 3

if (FOR.motivate()) - ATH.motivate() > 5:
  df.loc[14, 'Rodada 11'] = 3
elif (FOR.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[14,'Rodada 11'] = 1
  df.loc[5,'Rodada 11'] = 1
else:
  df.loc[5, 'Rodada 11'] = 3

if (BOT.motivate()) - AVA.motivate() > 5:
  df.loc[11, 'Rodada 11'] = 3
elif (BOT.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[11,'Rodada 11'] = 1
  df.loc[17,'Rodada 11'] = 1
else:
  df.loc[17, 'Rodada 11'] = 3

In [ ]:
# Rodada 12

df['Rodada 12'] = pd.Series(dtype='int') 
if (JUV.motivate()) - SAN.motivate() > 5:
  df.loc[19, 'Rodada 12'] = 3
elif (JUV.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[19,'Rodada 12'] = 1
  df.loc[9,'Rodada 12'] = 1
else:
  df.loc[9, 'Rodada 12'] = 3

if (BRA.motivate()) - CTB.motivate() > 5:
  df.loc[10, 'Rodada 12'] = 3
elif (BRA.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[10,'Rodada 12'] = 1
  df.loc[15,'Rodada 12'] = 1
else:
  df.loc[15, 'Rodada 12'] = 3

if (CEA.motivate()) - CAM.motivate() > 5:
  df.loc[13, 'Rodada 12'] = 3
elif (CEA.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[13,'Rodada 12'] = 1
  df.loc[6,'Rodada 12'] = 1
else:
  df.loc[6, 'Rodada 12'] = 3

if (FLA.motivate()) - CUI.motivate() > 5:
  df.loc[2, 'Rodada 12'] = 3
elif (FLA.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[2,'Rodada 12'] = 1
  df.loc[16,'Rodada 12'] = 1
else:
  df.loc[16, 'Rodada 12'] = 3

if (GOI.motivate()) - INT.motivate() > 5:
  df.loc[8, 'Rodada 12'] = 3
elif (GOI.lastMotivation*1.15) - INT.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[8,'Rodada 12'] = 1
  df.loc[1,'Rodada 12'] = 1
else:
  df.loc[1, 'Rodada 12'] = 3

if (AME.motivate()) - FLU.motivate() > 5:
  df.loc[7, 'Rodada 12'] = 3
elif (AME.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (AME.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[7,'Rodada 12'] = 1
  df.loc[3,'Rodada 12'] = 1
else:
  df.loc[3, 'Rodada 12'] = 3

if (ATH.motivate()) - COR.motivate() > 5:
  df.loc[5, 'Rodada 12'] = 3
elif (ATH.lastMotivation*1.15) - COR.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[5,'Rodada 12'] = 1
  df.loc[4,'Rodada 12'] = 1
else:
  df.loc[4, 'Rodada 12'] = 3

if (BOT.motivate()) - SAO.motivate() > 5:
  df.loc[11, 'Rodada 12'] = 3
elif (BOT.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[11,'Rodada 12'] = 1
  df.loc[12,'Rodada 12'] = 1
else:
  df.loc[12, 'Rodada 12'] = 3

if (PAL.motivate()) - ATL.motivate() > 5:
  df.loc[0, 'Rodada 12'] = 3
elif (PAL.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[0,'Rodada 12'] = 1
  df.loc[18,'Rodada 12'] = 1
else:
  df.loc[18, 'Rodada 12'] = 3

if (AVA.motivate()) - FOR.motivate() > 5:
  df.loc[17, 'Rodada 12'] = 3
elif (AVA.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[17,'Rodada 12'] = 1
  df.loc[14,'Rodada 12'] = 1
else:
  df.loc[14, 'Rodada 12'] = 3

In [ ]:
# Rodada 13

df['Rodada 13'] = pd.Series(dtype='int')
if (CUI.motivate()) - CEA.motivate() > 5:
  df.loc[16, 'Rodada 13'] = 3
elif (CUI.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[16,'Rodada 13'] = 1
  df.loc[13,'Rodada 13'] = 1
else:
  df.loc[13, 'Rodada 13'] = 3

if (SAN.motivate()) - BRA.motivate() > 5:
  df.loc[9, 'Rodada 13'] = 3
elif (SAN.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[9,'Rodada 13'] = 1
  df.loc[10,'Rodada 13'] = 1
else:
  df.loc[10, 'Rodada 13'] = 3

if (CAM.motivate()) - FLA.motivate() > 5:
  df.loc[6, 'Rodada 13'] = 3
elif (CAM.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[6,'Rodada 13'] = 1
  df.loc[2,'Rodada 13'] = 1
else:
  df.loc[2, 'Rodada 13'] = 3

if (COR.motivate()) - GOI.motivate() > 5:
  df.loc[4, 'Rodada 13'] = 3
elif (COR.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (COR.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[4,'Rodada 13'] = 1
  df.loc[8,'Rodada 13'] = 1
else:
  df.loc[8, 'Rodada 13'] = 3

if (CTB.motivate()) - ATH.motivate() > 5:
  df.loc[15, 'Rodada 13'] = 3
elif (CTB.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[15,'Rodada 13'] = 1
  df.loc[5,'Rodada 13'] = 1
else:
  df.loc[5, 'Rodada 13'] = 3

if (INT.motivate()) - BOT.motivate() > 5:
  df.loc[1, 'Rodada 13'] = 3
elif (INT.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (INT.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[1,'Rodada 13'] = 1
  df.loc[11,'Rodada 13'] = 1
else:
  df.loc[11, 'Rodada 13'] = 3

if (FOR.motivate()) - AME.motivate() > 5:
  df.loc[14, 'Rodada 13'] = 3
elif (FOR.lastMotivation*1.15) - AME.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[14,'Rodada 13'] = 1
  df.loc[7,'Rodada 13'] = 1
else:
  df.loc[7, 'Rodada 13'] = 3

if (ATL.motivate()) - JUV.motivate() > 5:
  df.loc[18, 'Rodada 13'] = 3
elif (ATL.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[18,'Rodada 13'] = 1
  df.loc[19,'Rodada 13'] = 1
else:
  df.loc[19, 'Rodada 13'] = 3

if (FLU.motivate()) - AVA.motivate() > 5:
  df.loc[3, 'Rodada 13'] = 3
elif (FLU.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[3,'Rodada 13'] = 1
  df.loc[17,'Rodada 13'] = 1
else:
  df.loc[17, 'Rodada 13'] = 3

if (SAO.motivate()) - PAL.motivate() > 5:
  df.loc[12, 'Rodada 13'] = 3
elif (SAO.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[12,'Rodada 13'] = 1
  df.loc[0,'Rodada 13'] = 1
else:
  df.loc[0, 'Rodada 13'] = 3

In [ ]:
# Rodada 14

df['Rodada 14'] = pd.Series(dtype='int')
if (INT.motivate()) - CTB.motivate() > 5:
  df.loc[1, 'Rodada 14'] = 3
elif (INT.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (INT.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[1,'Rodada 14'] = 1
  df.loc[15,'Rodada 14'] = 1
else:
  df.loc[15, 'Rodada 14'] = 3

if (ATH.motivate()) - BRA.motivate() > 5:
  df.loc[5, 'Rodada 14'] = 3
elif (ATH.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[5,'Rodada 14'] = 1
  df.loc[10,'Rodada 14'] = 1
else:
  df.loc[10, 'Rodada 14'] = 3

if (FLA.motivate()) - AME.motivate() > 5:
  df.loc[2, 'Rodada 14'] = 3
elif (FLA.lastMotivation*1.15) - AME.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[2,'Rodada 14'] = 1
  df.loc[7,'Rodada 14'] = 1
else:
  df.loc[7, 'Rodada 14'] = 3

if (COR.motivate()) - SAN.motivate() > 5:
  df.loc[4, 'Rodada 14'] = 3
elif (COR.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (COR.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[4,'Rodada 14'] = 1
  df.loc[9,'Rodada 14'] = 1
else:
  df.loc[9, 'Rodada 14'] = 3

if (CAM.motivate()) - FOR.motivate() > 5:
  df.loc[6, 'Rodada 14'] = 3
elif (CAM.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[6,'Rodada 14'] = 1
  df.loc[14,'Rodada 14'] = 1
else:
  df.loc[14, 'Rodada 14'] = 3

if (AVA.motivate()) - PAL.motivate() > 5:
  df.loc[17, 'Rodada 14'] = 3
elif (AVA.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[17,'Rodada 14'] = 1
  df.loc[0,'Rodada 14'] = 1
else:
  df.loc[0, 'Rodada 14'] = 3

if (SAO.motivate()) - JUV.motivate() > 5:
  df.loc[12, 'Rodada 14'] = 3
elif (SAO.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[12,'Rodada 14'] = 1
  df.loc[19,'Rodada 14'] = 1
else:
  df.loc[19, 'Rodada 14'] = 3

if (CEA.motivate()) - ATL.motivate() > 5:
  df.loc[13, 'Rodada 14'] = 3
elif (CEA.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[13,'Rodada 14'] = 1
  df.loc[18,'Rodada 14'] = 1
else:
  df.loc[18, 'Rodada 14'] = 3

if (GOI.motivate()) - CUI.motivate() > 5:
  df.loc[8, 'Rodada 14'] = 3
elif (GOI.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[8,'Rodada 14'] = 1
  df.loc[16,'Rodada 14'] = 1
else:
  df.loc[16, 'Rodada 14'] = 3

if (BOT.motivate()) - FLU.motivate() > 5:
  df.loc[11, 'Rodada 14'] = 3
elif (BOT.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[11,'Rodada 14'] = 1
  df.loc[3,'Rodada 14'] = 1
else:
  df.loc[3, 'Rodada 14'] = 3

In [ ]:
# Rodada 15

df['Rodada 15'] = pd.Series(dtype='int') 
if (FLU.motivate()) - COR.motivate() > 5:
  df.loc[3, 'Rodada 15'] = 3
elif (FLU.lastMotivation*1.15) - COR.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[3,'Rodada 15'] = 1
  df.loc[4,'Rodada 15'] = 1
else:
  df.loc[4, 'Rodada 15'] = 3

if (JUV.motivate()) - CAM.motivate() > 5:
  df.loc[19, 'Rodada 15'] = 3
elif (JUV.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[19,'Rodada 15'] = 1
  df.loc[6,'Rodada 15'] = 1
else:
  df.loc[6, 'Rodada 15'] = 3

if (SAN.motivate()) - FLA.motivate() > 5:
  df.loc[9, 'Rodada 15'] = 3
elif (SAN.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[9,'Rodada 15'] = 1
  df.loc[2,'Rodada 15'] = 1
else:
  df.loc[2, 'Rodada 15'] = 3

if (CEA.motivate()) - INT.motivate() > 5:
  df.loc[13, 'Rodada 15'] = 3
elif (CEA.lastMotivation*1.15) - INT.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[13,'Rodada 15'] = 1
  df.loc[2,'Rodada 15'] = 1
else:
  df.loc[2, 'Rodada 15'] = 3

if (PAL.motivate()) - ATH.motivate() > 5:
  df.loc[0, 'Rodada 15'] = 3
elif (PAL.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[0,'Rodada 15'] = 1
  df.loc[5,'Rodada 15'] = 1
else:
  df.loc[5, 'Rodada 15'] = 3

if (AVA.motivate()) - CUI.motivate() > 5:
  df.loc[17, 'Rodada 15'] = 3
elif (AVA.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[17,'Rodada 15'] = 1
  df.loc[16,'Rodada 15'] = 1
else:
  df.loc[16, 'Rodada 15'] = 3

if (ATL.motivate()) - SAO.motivate() > 5:
  df.loc[18, 'Rodada 15'] = 3
elif (ATL.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[18,'Rodada 15'] = 1
  df.loc[12,'Rodada 15'] = 1
else:
  df.loc[12, 'Rodada 15'] = 3

if (AME.motivate()) - GOI.motivate() > 5:
  df.loc[7, 'Rodada 15'] = 3
elif (AME.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (AME.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[7,'Rodada 15'] = 1
  df.loc[8,'Rodada 15'] = 1
else:
  df.loc[8, 'Rodada 15'] = 3

if (CTB.motivate()) - FOR.motivate() > 5:
  df.loc[15, 'Rodada 15'] = 3
elif (CTB.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[15,'Rodada 15'] = 1
  df.loc[14,'Rodada 15'] = 1
else:
  df.loc[14, 'Rodada 15'] = 3

if (BRA.motivate()) - BOT.motivate() > 5:
  df.loc[10, 'Rodada 15'] = 3
elif (BRA.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[10,'Rodada 15'] = 1
  df.loc[11,'Rodada 15'] = 1
else:
  df.loc[11, 'Rodada 15'] = 3

In [ ]:
# Rodada 16

df['Rodada 16'] = pd.Series(dtype='int') 
if (BRA.motivate()) - AVA.motivate() > 5:
  df.loc[10, 'Rodada 16'] = 3
elif (BRA.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[10,'Rodada 16'] = 1
  df.loc[17,'Rodada 16'] = 1
else:
  df.loc[17, 'Rodada 16'] = 3

if (FLU.motivate()) - CEA.motivate() > 5:
  df.loc[3, 'Rodada 16'] = 3
elif (FLU.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[3,'Rodada 16'] = 1
  df.loc[13,'Rodada 16'] = 1
else:
  df.loc[13, 'Rodada 16'] = 3

if (GOI.motivate()) - ATH.motivate() > 5:
  df.loc[8, 'Rodada 16'] = 3
elif (GOI.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[8,'Rodada 16'] = 1
  df.loc[5,'Rodada 16'] = 1
else:
  df.loc[5, 'Rodada 16'] = 3

if (CTB.motivate()) - JUV.motivate() > 5:
  df.loc[15, 'Rodada 16'] = 3
elif (CTB.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[15,'Rodada 16'] = 1
  df.loc[19,'Rodada 16'] = 1
else:
  df.loc[19, 'Rodada 16'] = 3

if (COR.motivate()) - FLA.motivate() > 5:
  df.loc[4, 'Rodada 16'] = 3
elif (COR.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (COR.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[4,'Rodada 16'] = 1
  df.loc[2,'Rodada 16'] = 1
else:
  df.loc[2, 'Rodada 16'] = 3

if (CAM.motivate()) - SAO.motivate() > 5:
  df.loc[6, 'Rodada 16'] = 3
elif (CAM.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[6,'Rodada 16'] = 1
  df.loc[12,'Rodada 16'] = 1
else:
  df.loc[12, 'Rodada 16'] = 3

if (SAN.motivate()) - ATL.motivate() > 5:
  df.loc[9, 'Rodada 16'] = 3
elif (SAN.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[9,'Rodada 16'] = 1
  df.loc[18,'Rodada 16'] = 1
else:
  df.loc[18, 'Rodada 16'] = 3

if (FOR.motivate()) - PAL.motivate() > 5:
  df.loc[14, 'Rodada 16'] = 3
elif (FOR.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[14,'Rodada 16'] = 1
  df.loc[0,'Rodada 16'] = 1
else:
  df.loc[0, 'Rodada 16'] = 3

if (CUI.motivate()) - BOT.motivate() > 5:
  df.loc[16, 'Rodada 16'] = 3
elif (CUI.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[16,'Rodada 16'] = 1
  df.loc[11,'Rodada 16'] = 1
else:
  df.loc[11, 'Rodada 16'] = 3

if (INT.motivate()) - AME.motivate() > 5:
  df.loc[1, 'Rodada 16'] = 3
elif (INT.lastMotivation*1.15) - AME.lastMotivation <= 5 and (INT.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[1,'Rodada 16'] = 1
  df.loc[7,'Rodada 16'] = 1
else:
  df.loc[7, 'Rodada 16'] = 3

In [ ]:
# Rodada 17

df['Rodada 17'] = pd.Series(dtype='int') 
if (ATH.motivate()) - INT.motivate() > 5:
  df.loc[5, 'Rodada 17'] = 3
elif (ATH.lastMotivation*1.15) - INT.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[5,'Rodada 17'] = 1
  df.loc[1,'Rodada 17'] = 1
else:
  df.loc[1, 'Rodada 17'] = 3

if (FLA.motivate()) - CTB.motivate() > 5:
  df.loc[2, 'Rodada 17'] = 3
elif (FLA.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[2,'Rodada 17'] = 1
  df.loc[15,'Rodada 17'] = 1
else:
  df.loc[15, 'Rodada 17'] = 3

if (AVA.motivate()) - SAN.motivate() > 5:
  df.loc[17, 'Rodada 17'] = 3
elif (AVA.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[17,'Rodada 17'] = 1
  df.loc[9,'Rodada 17'] = 1
else:
  df.loc[9, 'Rodada 17'] = 3

if (CEA.motivate()) - COR.motivate() > 5:
  df.loc[13, 'Rodada 17'] = 3
elif (CEA.lastMotivation*1.15) - COR.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[13,'Rodada 17'] = 1
  df.loc[4,'Rodada 17'] = 1
else:
  df.loc[4, 'Rodada 17'] = 3

if (JUV.motivate()) - GOI.motivate() > 5:
  df.loc[19, 'Rodada 17'] = 3
elif (JUV.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[19,'Rodada 17'] = 1
  df.loc[8,'Rodada 17'] = 1
else:
  df.loc[8, 'Rodada 17'] = 3

if (SAO.motivate()) - FLU.motivate() > 5:
  df.loc[12, 'Rodada 17'] = 3
elif (SAO.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[12,'Rodada 17'] = 1
  df.loc[3,'Rodada 17'] = 1
else:
  df.loc[3, 'Rodada 17'] = 3

if (BOT.motivate()) - CAM.motivate() > 5:
  df.loc[11, 'Rodada 17'] = 3
elif (BOT.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[11,'Rodada 17'] = 1
  df.loc[6,'Rodada 17'] = 1
else:
  df.loc[6, 'Rodada 17'] = 3

if (ATL.motivate()) - FOR.motivate() > 5:
  df.loc[18, 'Rodada 17'] = 3
elif (ATL.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[18,'Rodada 17'] = 1
  df.loc[14,'Rodada 17'] = 1
else:
  df.loc[14, 'Rodada 17'] = 3

if (AME.motivate()) - BRA.motivate() > 5:
  df.loc[7, 'Rodada 17'] = 3
elif (AME.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (AME.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[7,'Rodada 17'] = 1
  df.loc[10,'Rodada 17'] = 1
else:
  df.loc[10, 'Rodada 17'] = 3

if (PAL.motivate()) - CUI.motivate() > 5:
  df.loc[0, 'Rodada 17'] = 3
elif (PAL.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[0,'Rodada 17'] = 1
  df.loc[16,'Rodada 17'] = 1
else:
  df.loc[16, 'Rodada 17'] = 3

In [ ]:
# Rodada 18

df['Rodada 18'] = pd.Series(dtype='int') 
if (CEA.motivate()) - AVA.motivate() > 5:
  df.loc[13, 'Rodada 18'] = 3
elif (CEA.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[13,'Rodada 18'] = 1
  df.loc[17,'Rodada 18'] = 1
else:
  df.loc[17, 'Rodada 18'] = 3

if (BRA.motivate()) - FOR.motivate() > 5:
  df.loc[10, 'Rodada 18'] = 3
elif (BRA.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[10,'Rodada 18'] = 1
  df.loc[14,'Rodada 18'] = 1
else:
  df.loc[14, 'Rodada 18'] = 3

if (GOI.motivate()) - FLU.motivate() > 5:
  df.loc[8, 'Rodada 18'] = 3
elif (GOI.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[8,'Rodada 18'] = 1
  df.loc[3,'Rodada 18'] = 1
else:
  df.loc[3, 'Rodada 18'] = 3

if (ATH.motivate()) - ATL.motivate() > 5:
  df.loc[5, 'Rodada 18'] = 3
elif (ATH.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[5,'Rodada 18'] = 1
  df.loc[18,'Rodada 18'] = 1
else:
  df.loc[18, 'Rodada 18'] = 3

if (FLA.motivate()) - JUV.motivate() > 5:
  df.loc[2, 'Rodada 18'] = 3
elif (FLA.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[2,'Rodada 18'] = 1
  df.loc[19,'Rodada 18'] = 1
else:
  df.loc[19, 'Rodada 18'] = 3

if (INT.motivate()) - SAO.motivate() > 5:
  df.loc[1, 'Rodada 18'] = 3
elif (INT.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (INT.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[1,'Rodada 18'] = 1
  df.loc[12,'Rodada 18'] = 1
else:
  df.loc[12, 'Rodada 18'] = 3

if (COR.motivate()) - CTB.motivate() > 5:
  df.loc[4, 'Rodada 18'] = 3
elif (COR.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (COR.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[4,'Rodada 18'] = 1
  df.loc[15,'Rodada 18'] = 1
else:
  df.loc[15, 'Rodada 18'] = 3

if (SAN.motivate()) - BOT.motivate() > 5:
  df.loc[9, 'Rodada 18'] = 3
elif (SAN.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[9,'Rodada 18'] = 1
  df.loc[11,'Rodada 18'] = 1
else:
  df.loc[11, 'Rodada 18'] = 3

if (CUI.motivate()) - CAM.motivate() > 5:
  df.loc[16, 'Rodada 18'] = 3
elif (CUI.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[16,'Rodada 18'] = 1
  df.loc[6,'Rodada 18'] = 1
else:
  df.loc[6, 'Rodada 18'] = 3

if (AME.motivate()) - PAL.motivate() > 5:
  df.loc[7, 'Rodada 18'] = 3
elif (AME.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (AME.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[7,'Rodada 18'] = 1
  df.loc[0,'Rodada 18'] = 1
else:
  df.loc[0, 'Rodada 18'] = 3

In [ ]:
# Rodada 19

df['Rodada 19'] = pd.Series(dtype='int') 
if (SAO.motivate()) - GOI.motivate() > 5:
  df.loc[12, 'Rodada 19'] = 3
elif (SAO.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[12,'Rodada 19'] = 1
  df.loc[8,'Rodada 19'] = 1
else:
  df.loc[8, 'Rodada 19'] = 3

if (BOT.motivate()) - ATH.motivate() > 5:
  df.loc[11, 'Rodada 19'] = 3
elif (BOT.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[11,'Rodada 19'] = 1
  df.loc[5,'Rodada 19'] = 1
else:
  df.loc[5, 'Rodada 19'] = 3

if (AVA.motivate()) - FLA.motivate() > 5:
  df.loc[17, 'Rodada 19'] = 3
elif (AVA.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[17,'Rodada 19'] = 1
  df.loc[2,'Rodada 19'] = 1
else:
  df.loc[2, 'Rodada 19'] = 3

if (FLU.motivate()) - BRA.motivate() > 5:
  df.loc[3, 'Rodada 19'] = 3
elif (FLU.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[3,'Rodada 19'] = 1
  df.loc[10,'Rodada 19'] = 1
else:
  df.loc[10, 'Rodada 19'] = 3

if (PAL.motivate()) - INT.motivate() > 5:
  df.loc[0, 'Rodada 19'] = 3
elif (PAL.lastMotivation*1.15) - INT.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[0,'Rodada 19'] = 1
  df.loc[1,'Rodada 19'] = 1
else:
  df.loc[1, 'Rodada 19'] = 3

if (JUV.motivate()) - CEA.motivate() > 5:
  df.loc[19, 'Rodada 19'] = 3
elif (JUV.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[19,'Rodada 19'] = 1
  df.loc[13,'Rodada 19'] = 1
else:
  df.loc[13, 'Rodada 19'] = 3

if (CAM.motivate()) - COR.motivate() > 5:
  df.loc[6, 'Rodada 19'] = 3
elif (CAM.lastMotivation*1.15) - COR.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[6,'Rodada 19'] = 1
  df.loc[4,'Rodada 19'] = 1
else:
  df.loc[4, 'Rodada 19'] = 3

if (ATL.motivate()) - AME.motivate() > 5:
  df.loc[18, 'Rodada 19'] = 3
elif (ATL.lastMotivation*1.15) - AME.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[18,'Rodada 19'] = 1
  df.loc[7,'Rodada 19'] = 1
else:
  df.loc[7, 'Rodada 19'] = 3

if (FOR.motivate()) - SAN.motivate() > 5:
  df.loc[14, 'Rodada 19'] = 3
elif (FOR.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[14,'Rodada 19'] = 1
  df.loc[9,'Rodada 19'] = 1
else:
  df.loc[9, 'Rodada 19'] = 3

if (CTB.motivate()) - CUI.motivate() > 5:
  df.loc[15, 'Rodada 19'] = 3
elif (CTB.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[15,'Rodada 19'] = 1
  df.loc[16,'Rodada 19'] = 1
else:
  df.loc[16, 'Rodada 19'] = 3

In [ ]:
# Rodada 20

df['Rodada 20'] = pd.Series(dtype='int') 
if (SAN.motivate()*1.15) - FLU.motivate() > 5: 
  df.loc[9, 'Rodada 20'] = 3
elif (SAN.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[9,'Rodada 20'] = 1
  df.loc[3,'Rodada 20'] = 1
else:
  df.loc[3,'Rodada 20'] = 3

if (FLA.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[2,'Rodada 20'] = 3
elif (FLA.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[2,'Rodada 20'] = 1
  df.loc[18,'Rodada 20'] = 1
else:
  df.loc[18,'Rodada 20'] = 3

if (CEA.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[13,'Rodada 20'] = 3
elif (CEA.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[13,'Rodada 20'] = 1
  df.loc[0,'Rodada 20'] = 1
else:
  df.loc[0,'Rodada 20'] = 3

if (GOI.motivate()*1.15) - CTB.motivate() >5:
  df.loc[8,'Rodada 20'] = 3
elif (GOI.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[8,'Rodada 20'] = 1
  df.loc[15,'Rodada 20'] = 1
else:
  df.loc[15,'Rodada 20'] = 3

if (INT.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[1,'Rodada 20'] = 3 
elif (INT.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (INT.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[1,'Rodada 20'] = 1
  df.loc[6,'Rodada 20'] = 1
else:
  df.loc[6,'Rodada 20'] = 3

if (COR.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[4,'Rodada 20'] = 3
elif (COR.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (COR.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[4,'Rodada 20'] = 1
  df.loc[11,'Rodada 20'] = 1
else:
  df.loc[11,'Rodada 20'] = 3

if (CUI.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[16,'Rodada 20'] = 3
elif (CUI.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[16,'Rodada 20'] = 1
  df.loc[14,'Rodada 20'] = 1
else:
  df.loc[14,'Rodada 20'] = 3

if (ATH.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[5,'Rodada 20'] = 3
elif (ATH.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[5,'Rodada 20'] = 1
  df.loc[12,'Rodada 20'] = 1
else:
  df.loc[12,'Rodada 20'] = 3

if (AME.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[7,'Rodada 20'] = 3
elif (AME.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (AME.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[7,'Rodada 20'] = 1
  df.loc[17,'Rodada 20'] = 1
else:
  df.loc[17,'Rodada 20'] = 3

if (BRA.motivate()*1.15) - JUV.motivate()> 5:
  df.loc[10,'Rodada 20'] = 3
elif (BRA.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[10,'Rodada 20'] = 1
  df.loc[19,'Rodada 20'] = 1
else:
  df.loc[19,'Rodada 20'] = 3

In [ ]:
# Rodada 21

df['Rodada 21'] = pd.Series(dtype='int') 
if (PAL.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[0, 'Rodada 21'] = 3
elif (PAL.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[0,'Rodada 21'] = 1
  df.loc[8,'Rodada 21'] = 1 
else:
  df.loc[8, 'Rodada 21'] = 3

if (JUV.motivate()*1.15) - AME.motivate() > 5:
  df.loc[19, 'Rodada 21'] = 3
elif (JUV.lastMotivation*1.15) - AME.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 21'] = 1
  df.loc[19,'Rodada 21'] = 1 
else:
  df.loc[7, 'Rodada 21'] = 3

if (AVA.motivate()*1.15) - COR.motivate() > 5:
  df.loc[17, 'Rodada 21'] = 3
elif (AVA.lastMotivation*1.15) - COR.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 21'] = 1
  df.loc[17,'Rodada 21'] = 1 
else:
  df.loc[4, 'Rodada 21'] = 3

if (FLU.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[3, 'Rodada 21'] = 3
elif (FLU.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 21'] = 1
  df.loc[3,'Rodada 21'] = 1 
else:
  df.loc[16, 'Rodada 21'] = 3

if (CTB.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[15, 'Rodada 21'] = 3
elif (CTB.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 21'] = 1
  df.loc[15,'Rodada 21'] = 1 
else:
  df.loc[9, 'Rodada 21'] = 3

if (SAO.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[12, 'Rodada 21'] = 3
elif (SAO.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 21'] = 1
  df.loc[2,'Rodada 21'] = 1 
else:
  df.loc[12, 'Rodada 21'] = 3

if (ATL.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[18, 'Rodada 21'] = 3
elif (ATL.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 21'] = 1
  df.loc[18,'Rodada 21'] = 1 
else:
  df.loc[10, 'Rodada 21'] = 3

if (CAM.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[6, 'Rodada 21'] = 3
elif (CAM.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 21'] = 1
  df.loc[6,'Rodada 21'] = 1 
else:
  df.loc[5, 'Rodada 21'] = 3

if (FOR.motivate()*1.15) - INT.motivate() > 5:
  df.loc[14, 'Rodada 21'] = 3
elif(FOR.lastMotivation*1.15) - INT.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 21'] = 1
  df.loc[14,'Rodada 21'] = 1 
else:
  df.loc[1, 'Rodada 21'] = 3

if (BOT.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[11, 'Rodada 21'] = 3
elif (BOT.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 21'] = 1
  df.loc[11,'Rodada 21'] = 1 
else:
  df.loc[13, 'Rodada 21'] = 3

In [ ]:
# Rodada 22

df['Rodada 22'] = pd.Series(dtype='int') 
if (SAO.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[12, 'Rodada 22'] = 3
elif (SAO.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 22'] = 1
  df.loc[12,'Rodada 22'] = 1 
else:
  df.loc[10, 'Rodada 22'] = 3

if (FLA.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[2, 'Rodada 22'] = 3
elif (FLA.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 22'] = 1
  df.loc[2,'Rodada 22'] = 1 
else:
  df.loc[5, 'Rodada 22'] = 3

if (INT.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[1, 'Rodada 22'] = 3
elif (INT.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (INT.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 22'] = 1
  df.loc[1,'Rodada 22'] = 1 
else:
  df.loc[3, 'Rodada 22'] = 3

if (COR.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[4, 'Rodada 22'] = 3
elif (COR.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (COR.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 22'] = 1
  df.loc[4,'Rodada 22'] = 1 
else:
  df.loc[1, 'Rodada 22'] = 3
  
if (CTB.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[15, 'Rodada 22'] = 3
elif (CTB.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 22'] = 1
  df.loc[15,'Rodada 22'] = 1 
else:
  df.loc[6, 'Rodada 22'] = 3

if (AME.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[7, 'Rodada 22'] = 3
elif (AME.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (AME.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 22'] = 1
  df.loc[7,'Rodada 22'] = 1 
else:
  df.loc[9, 'Rodada 22'] = 3

if (CUI.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[16, 'Rodada 22'] = 3
elif (CUI.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 22'] = 1
  df.loc[16,'Rodada 22'] = 1 
else:
  df.loc[19, 'Rodada 22'] = 3

if (BOT.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[11, 'Rodada 22'] = 3
elif (BOT.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 22'] = 1
  df.loc[11,'Rodada 22'] = 1 
else:
  df.loc[18, 'Rodada 22'] = 3

if (GOI.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[8, 'Rodada 22'] = 3
elif (GOI.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 22'] = 1
  df.loc[8,'Rodada 22'] = 1 
else:
  df.loc[17, 'Rodada 22'] = 3

if (CEA.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[13, 'Rodada 22'] = 3
elif (CEA.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 22'] = 1
  df.loc[13,'Rodada 22'] = 1 
else:
  df.loc[14, 'Rodada 22'] = 3

In [ ]:
# Rodada 23

df['Rodada 23'] = pd.Series(dtype='int') 
if (PAL.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[0, 'Rodada 23'] = 3
elif (PAL.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 23'] = 1
  df.loc[0,'Rodada 23'] = 1 
else:
  df.loc[2, 'Rodada 23'] = 3  

if (ATH.motivate()*1.15) - AME.motivate() > 5:
  df.loc[5, 'Rodada 23'] = 3
elif (ATH.lastMotivation*1.15) - AME.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 23'] = 1
  df.loc[5,'Rodada 23'] = 1 
else:
  df.loc[7, 'Rodada 23'] = 3  

if (BRA.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[10, 'Rodada 23'] = 3
elif (BRA.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 23'] = 1
  df.loc[10,'Rodada 23'] = 1 
else:
  df.loc[13, 'Rodada 23'] = 3  
  
if (CAM.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[6, 'Rodada 23'] = 3
elif (CAM.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 23'] = 1
  df.loc[6,'Rodada 23'] = 1 
else:
  df.loc[8, 'Rodada 23'] = 3  

if (ATL.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[18, 'Rodada 23'] = 3
elif (ATL.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 23'] = 1
  df.loc[18,'Rodada 23'] = 1 
else:
  df.loc[16, 'Rodada 23'] = 3  

if (JUV.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[19, 'Rodada 23'] = 3
elif (JUV.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 23'] = 1
  df.loc[19,'Rodada 23'] = 1 
else:
  df.loc[11, 'Rodada 23'] = 3  

if (FOR.motivate()*1.15) - COR.motivate() > 5:
  df.loc[14, 'Rodada 23'] = 3
elif (FOR.lastMotivation*1.15) - COR.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 23'] = 1
  df.loc[14,'Rodada 23'] = 1 
else:
  df.loc[4, 'Rodada 23'] = 3  

if (FLU.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[3, 'Rodada 23'] = 3
elif (FLU.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 23'] = 1
  df.loc[3,'Rodada 23'] = 1 
else:
  df.loc[15, 'Rodada 23'] = 3  
  
if (AVA.motivate()*1.15) - INT.motivate() > 5:
  df.loc[17, 'Rodada 23'] = 3
elif (AVA.lastMotivation*1.15) - INT.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 23'] = 1
  df.loc[17,'Rodada 23'] = 1 
else:
  df.loc[1, 'Rodada 23'] = 3 

if (SAN.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[9, 'Rodada 23'] = 3
elif (SAN.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 23'] = 1
  df.loc[9,'Rodada 23'] = 1 
else:
  df.loc[12, 'Rodada 23'] = 3

In [ ]:
# Rodada 24

df['Rodada 24'] = pd.Series(dtype='int') 
if (AME.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[7, 'Rodada 24'] = 3
elif (AME.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (AME.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 24'] = 1
  df.loc[7,'Rodada 24'] = 1
else:
  df.loc[6, 'Rodada 24'] = 3

if (CEA.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[13, 'Rodada 24'] = 3
elif (CEA.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 24'] = 1
  df.loc[13,'Rodada 24'] = 1
else:
  df.loc[5, 'Rodada 24'] = 3

if (BOT.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[11, 'Rodada 24'] = 3
elif (BOT.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 24'] = 1
  df.loc[11,'Rodada 24'] = 1
else:
  df.loc[2, 'Rodada 24'] = 3

if (FLU.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[3, 'Rodada 24'] = 3
elif (FLU.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 24'] = 1
  df.loc[3,'Rodada 24'] = 1
else:
  df.loc[0, 'Rodada 24'] = 3

if (GOI.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[8, 'Rodada 24'] = 3
elif (GOI.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 24'] = 1
  df.loc[8,'Rodada 24'] = 1
else:
  df.loc[18, 'Rodada 24'] = 3

if (COR.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[4, 'Rodada 24'] = 3
elif (COR.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (COR.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 24'] = 1
  df.loc[4,'Rodada 24'] = 1
else:
  df.loc[10, 'Rodada 24'] = 3

if (CUI.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[16, 'Rodada 24'] = 3
elif (CUI.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 24'] = 1
  df.loc[16,'Rodada 24'] = 1
else:
  df.loc[9, 'Rodada 24'] = 3

if (INT.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[1, 'Rodada 24'] = 3
elif (INT.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (INT.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 24'] = 1
  df.loc[1,'Rodada 24'] = 1
else:
  df.loc[19, 'Rodada 24'] = 3

if (SAO.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[12, 'Rodada 24'] = 3
elif (SAO.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 24'] = 1
  df.loc[12,'Rodada 24'] = 1
else:
  df.loc[14, 'Rodada 24'] = 3

if (CTB.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[15, 'Rodada 24'] = 3
elif (CTB.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 24'] = 1
  df.loc[15,'Rodada 24'] = 1
else:
  df.loc[17, 'Rodada 24'] = 3

In [ ]:
# Rodada 25

df['Rodada 25'] = pd.Series(dtype='int') 
if (BRA.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[10, 'Rodada 25'] = 3
elif (BRA.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 25'] = 1
  df.loc[10,'Rodada 25'] = 1
else:
  df.loc[0, 'Rodada 25'] = 3

if (FLA.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[2, 'Rodada 25'] = 3
elif (FLA.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 25'] = 1
  df.loc[2,'Rodada 25'] = 1
else:
  df.loc[13, 'Rodada 25'] = 3

if (ATL.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[18, 'Rodada 25'] = 3
elif (ATL.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 25'] = 1
  df.loc[18,'Rodada 25'] = 1
else:
  df.loc[6, 'Rodada 25'] = 3

if (COR.motivate()*1.15) - INT.motivate() > 5:
  df.loc[4, 'Rodada 25'] = 3
elif (COR.lastMotivation*1.15) - INT.lastMotivation <= 5 and (COR.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 25'] = 1
  df.loc[4,'Rodada 25'] = 1
else:
  df.loc[1, 'Rodada 25'] = 3

if (ATH.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[5, 'Rodada 25'] = 3
elif (ATH.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 25'] = 1
  df.loc[5,'Rodada 25'] = 1
else:
  df.loc[3, 'Rodada 25'] = 3

if (CUI.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[16, 'Rodada 25'] = 3
elif (CUI.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 25'] = 1
  df.loc[16,'Rodada 25'] = 1
else:
  df.loc[12, 'Rodada 25'] = 3

if (AME.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[7, 'Rodada 25'] = 3
elif (AME.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (AME.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 25'] = 1
  df.loc[7,'Rodada 25'] = 1
else:
  df.loc[15, 'Rodada 25'] = 3

if (FOR.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[14, 'Rodada 25'] = 3
elif (FOR.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 25'] = 1
  df.loc[14,'Rodada 25'] = 1
else:
  df.loc[11, 'Rodada 25'] = 3

if (JUV.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[19, 'Rodada 25'] = 3
elif (JUV.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 25'] = 1
  df.loc[19,'Rodada 25'] = 1
else:
  df.loc[17, 'Rodada 25'] = 3

if (SAN.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[9, 'Rodada 25'] = 3
elif (SAN.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 25'] = 1
  df.loc[9,'Rodada 25'] = 1
else:
  df.loc[8, 'Rodada 25'] = 3

In [ ]:
# Rodada 26

df['Rodada 26'] = pd.Series(dtype='int') 
if (CAM.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[6, 'Rodada 26'] = 3
elif (CAM.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 26'] = 1
  df.loc[6,'Rodada 26'] = 1
else:
  df.loc[10, 'Rodada 26'] = 3

if (GOI.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[8, 'Rodada 26'] = 3
elif (GOI.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 26'] = 1
  df.loc[8,'Rodada 26'] = 1
else:
  df.loc[2, 'Rodada 26'] = 3

if (CTB.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[15, 'Rodada 26'] = 3
elif (CTB.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 26'] = 1
  df.loc[15,'Rodada 26'] = 1
else:
  df.loc[18, 'Rodada 26'] = 3

if (CEA.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[13, 'Rodada 26'] = 3
elif (CEA.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 26'] = 1
  df.loc[13,'Rodada 26'] = 1
else:
  df.loc[9, 'Rodada 26'] = 3

if (PAL.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[0, 'Rodada 26'] = 3
elif (PAL.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 26'] = 1
  df.loc[0,'Rodada 26'] = 1
else:
  df.loc[19, 'Rodada 26'] = 3

if (BOT.motivate()*1.15) - AME.motivate() > 5:
  df.loc[11, 'Rodada 26'] = 3
elif (BOT.lastMotivation*1.15) - AME.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 26'] = 1
  df.loc[11,'Rodada 26'] = 1
else:
  df.loc[7, 'Rodada 26'] = 3

if (INT.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[1, 'Rodada 26'] = 3
elif (INT.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (INT.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 26'] = 1
  df.loc[1,'Rodada 26'] = 1
else:
  df.loc[16, 'Rodada 26'] = 3

if (SAO.motivate()*1.15) - COR.motivate() > 5:
  df.loc[12, 'Rodada 26'] = 3
elif (SAO.lastMotivation*1.15) - COR.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 26'] = 1
  df.loc[12,'Rodada 26'] = 1
else:
  df.loc[4, 'Rodada 26'] = 3

if (FLU.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[3, 'Rodada 26'] = 3
elif (FLU.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 26'] = 1
  df.loc[3,'Rodada 26'] = 1
else:
  df.loc[14, 'Rodada 26'] = 3

if (AVA.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[17, 'Rodada 26'] = 3
elif (AVA.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 26'] = 1
  df.loc[17,'Rodada 26'] = 1
else:
  df.loc[5, 'Rodada 26'] = 3

In [ ]:
# Rodada 27

df['Rodada 27'] = pd.Series(dtype='int') 
if (BRA.motivate()*1.15) - GOI.motivate() > 5:
  df.loc[10, 'Rodada 27'] = 3
elif (BRA.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 27'] = 1
  df.loc[10,'Rodada 27'] = 1
else:
  df.loc[8, 'Rodada 27'] = 3

if (CEA.motivate()*1.15) - SAO.motivate() > 5:
  df.loc[13, 'Rodada 27'] = 3
elif (CEA.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 27'] = 1
  df.loc[13,'Rodada 27'] = 1
else:
  df.loc[12, 'Rodada 27'] = 3

if (JUV.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[19, 'Rodada 27'] = 3
elif (JUV.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 27'] = 1
  df.loc[19,'Rodada 27'] = 1
else:
  df.loc[14, 'Rodada 27'] = 3

if (PAL.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[0, 'Rodada 27'] = 3
elif (PAL.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 27'] = 1
  df.loc[0,'Rodada 27'] = 1
else:
  df.loc[9, 'Rodada 27'] = 3

if (BOT.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[11, 'Rodada 27'] = 3
elif (BOT.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 27'] = 1
  df.loc[11,'Rodada 27'] = 1
else:
  df.loc[15, 'Rodada 27'] = 3

if (FLA.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[2, 'Rodada 27'] = 3
elif (FLA.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 27'] = 1
  df.loc[2,'Rodada 27'] = 1
else:
  df.loc[3, 'Rodada 27'] = 3

if (AME.motivate()*1.15) - COR.motivate() > 5:
  df.loc[7, 'Rodada 27'] = 3
elif (AME.lastMotivation*1.15) - COR.lastMotivation <= 5 and (AME.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 27'] = 1
  df.loc[7,'Rodada 27'] = 1
else:
  df.loc[4, 'Rodada 27'] = 3

if (ATH.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[5, 'Rodada 27'] = 3
elif (ATH.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 27'] = 1
  df.loc[5,'Rodada 27'] = 1
else:
  df.loc[16, 'Rodada 27'] = 3

if (AVA.motivate()*1.15) - CAM.motivate() > 5:
  df.loc[17, 'Rodada 27'] = 3
elif (AVA.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 27'] = 1
  df.loc[17,'Rodada 27'] = 1
else:
  df.loc[6, 'Rodada 27'] = 3

if (ATL.motivate()*1.15) - INT.motivate() > 5:
  df.loc[18, 'Rodada 27'] = 3
elif (ATL.lastMotivation*1.15) - INT.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 27'] = 1
  df.loc[18,'Rodada 27'] = 1
else:
  df.loc[1, 'Rodada 27'] = 3

In [ ]:
# Rodada 28

df['Rodada 28'] = pd.Series(dtype='int') 
if (CUI.motivate()*1.15) - AME.motivate() > 5:
  df.loc[16, 'Rodada 28'] = 3
elif (CUI.lastMotivation*1.15) - AME.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 28'] = 1
  df.loc[16,'Rodada 28'] = 1
else:
  df.loc[7, 'Rodada 28'] = 3

if (CTB.motivate()*1.15) - CEA.motivate() > 5:
  df.loc[15, 'Rodada 28'] = 3
elif (CTB.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 28'] = 1
  df.loc[15,'Rodada 28'] = 1
else:
  df.loc[13, 'Rodada 28'] = 3

if (SAO.motivate()*1.15) - AVA.motivate() > 5:
  df.loc[12, 'Rodada 28'] = 3
elif (SAO.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 28'] = 1
  df.loc[12,'Rodada 28'] = 1
else:
  df.loc[17, 'Rodada 28'] = 3

if (SAN.motivate()*1.15) - ATH.motivate() > 5:
  df.loc[9, 'Rodada 28'] = 3
elif (SAN.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 28'] = 1
  df.loc[9,'Rodada 28'] = 1
else:
  df.loc[5, 'Rodada 28'] = 3

if (COR.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[4, 'Rodada 28'] = 3
elif (COR.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (COR.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 28'] = 1
  df.loc[4,'Rodada 28'] = 1
else:
  df.loc[18, 'Rodada 28'] = 3

if (FLU.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[3, 'Rodada 28'] = 3
elif (FLU.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 28'] = 1
  df.loc[3,'Rodada 28'] = 1
else:
  df.loc[19, 'Rodada 28'] = 3

if (FOR.motivate()*1.15) - FLA.motivate() > 5:
  df.loc[14, 'Rodada 28'] = 3
elif (FOR.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 28'] = 1
  df.loc[14,'Rodada 28'] = 1
else:
  df.loc[2, 'Rodada 28'] = 3

if (CAM.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[6, 'Rodada 28'] = 3
elif (CAM.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 28'] = 1
  df.loc[6,'Rodada 28'] = 1
else:
  df.loc[0, 'Rodada 28'] = 3

if (INT.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[1, 'Rodada 28'] = 3
elif (INT.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (INT.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 28'] = 1
  df.loc[1,'Rodada 28'] = 1
else:
  df.loc[10, 'Rodada 28'] = 3

if (GOI.motivate()*1.15) - BOT.motivate() > 5:
  df.loc[8, 'Rodada 28'] = 3
elif (GOI.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 28'] = 1
  df.loc[8,'Rodada 28'] = 1
else:
  df.loc[11, 'Rodada 28'] = 3

In [ ]:
# Rodada 29

df['Rodada 29'] = pd.Series(dtype='int') 
if (COR.motivate()*1.15) - CUI.motivate() > 5:
  df.loc[4, 'Rodada 29'] = 3
elif (CUI.lastMotivation*1.15) - COR.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[16,'Rodada 29'] = 1
  df.loc[4,'Rodada 29'] = 1
else:
  df.loc[16, 'Rodada 29'] = 3

if (CEA.motivate()*1.15) - AME.motivate() > 5:
  df.loc[13, 'Rodada 29'] = 3
elif (CEA.lastMotivation*1.15) - AME.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 29'] = 1
  df.loc[13,'Rodada 29'] = 1
else:
  df.loc[7, 'Rodada 29'] = 3

if (ATH.motivate()*1.15) - JUV.motivate() > 5:
  df.loc[5, 'Rodada 29'] = 3
elif (ATH.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 29'] = 1
  df.loc[5,'Rodada 29'] = 1
else:
  df.loc[19, 'Rodada 29'] = 3

if (FLA.motivate()*1.15) - BRA.motivate() > 5:
  df.loc[2, 'Rodada 29'] = 3
elif (FLA.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 29'] = 1
  df.loc[2,'Rodada 29'] = 1
else:
  df.loc[10, 'Rodada 29'] = 3

if (AVA.motivate()*1.15) - ATL.motivate() > 5:
  df.loc[17, 'Rodada 29'] = 3
elif (AVA.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 29'] = 1
  df.loc[17,'Rodada 29'] = 1
else:
  df.loc[18, 'Rodada 29'] = 3

if (CAM.motivate()*1.15) - FLU.motivate() > 5:
  df.loc[6, 'Rodada 29'] = 3
elif (CAM.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 29'] = 1
  df.loc[6,'Rodada 29'] = 1
else:
  df.loc[3, 'Rodada 29'] = 3

if (INT.motivate()*1.15) - SAN.motivate() > 5:
  df.loc[1, 'Rodada 29'] = 3
elif (INT.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (INT.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 29'] = 1
  df.loc[1,'Rodada 29'] = 1
else:
  df.loc[9, 'Rodada 29'] = 3

if (BOT.motivate()*1.15) - PAL.motivate() > 5:
  df.loc[11, 'Rodada 29'] = 3
elif (BOT.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 29'] = 1
  df.loc[11,'Rodada 29'] = 1
else:
  df.loc[0, 'Rodada 29'] = 3

if (GOI.motivate()*1.15) - FOR.motivate() > 5:
  df.loc[8, 'Rodada 29'] = 3
elif (GOI.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 29'] = 1
  df.loc[8,'Rodada 29'] = 1
else:
  df.loc[14, 'Rodada 29'] = 3

if (SAO.motivate()*1.15) - CTB.motivate() > 5:
  df.loc[12, 'Rodada 29'] = 3
elif (SAO.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 29'] = 1
  df.loc[12,'Rodada 29'] = 1
else:
  df.loc[15, 'Rodada 29'] = 3

In [ ]:
# Rodada 30

df['Rodada 30'] = pd.Series(dtype='int') 
if (JUV.motivate()) - COR.motivate() > 5:
  df.loc[19, 'Rodada 30'] = 3
elif (JUV.lastMotivation*1.15) - COR.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 30'] = 1
  df.loc[19,'Rodada 30'] = 1
else:
  df.loc[4, 'Rodada 30'] = 3

if (SAN.motivate()) - CAM.motivate() > 5:
  df.loc[9, 'Rodada 30'] = 3
elif (SAN.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 30'] = 1
  df.loc[9,'Rodada 30'] = 1
else:
  df.loc[6, 'Rodada 30'] = 3

if (ATL.motivate()) - FLU.motivate() > 5:
  df.loc[18, 'Rodada 30'] = 3
elif (ATL.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3, 'Rodada 30'] = 1
  df.loc[18,'Rodada 30'] = 1
else:
  df.loc[3, 'Rodada 30'] = 3

if (BRA.motivate()) - CUI.motivate() > 5:
  df.loc[10, 'Rodada 30'] = 3
elif (BRA.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 30'] = 1
  df.loc[10,'Rodada 30'] = 1
else:
  df.loc[16, 'Rodada 30'] = 3

if (FLA.motivate()) - INT.motivate() > 5:
  df.loc[2, 'Rodada 30'] = 3
elif (FLA.lastMotivation*1.15) - INT.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 30'] = 1
  df.loc[2,'Rodada 30'] = 1
else:
  df.loc[1, 'Rodada 30'] = 3

if (AME.motivate()) - SAO.motivate() > 5:
  df.loc[7, 'Rodada 30'] = 3
elif (AME.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (AME.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 30'] = 1
  df.loc[7,'Rodada 30'] = 1
else:
  df.loc[12, 'Rodada 30'] = 3

if (CEA.motivate()) - GOI.motivate() > 5:
  df.loc[13, 'Rodada 30'] = 3
elif (CEA.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 30'] = 1
  df.loc[13,'Rodada 30'] = 1
else:
  df.loc[8, 'Rodada 30'] = 3

if (PAL.motivate()) - CTB.motivate() > 5:
  df.loc[0, 'Rodada 30'] = 3
elif (PAL.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 30'] = 1
  df.loc[0,'Rodada 30'] = 1
else:
  df.loc[15, 'Rodada 30'] = 3

if (ATH.motivate()) - FOR.motivate() > 5:
  df.loc[5, 'Rodada 30'] = 3
elif (ATH.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 30'] = 1
  df.loc[5,'Rodada 30'] = 1
else:
  df.loc[14, 'Rodada 30'] = 3

if (AVA.motivate()) - BOT.motivate() > 5:
  df.loc[17, 'Rodada 30'] = 3
elif (AVA.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 30'] = 1
  df.loc[17,'Rodada 30'] = 1
else:
  df.loc[11, 'Rodada 30'] = 3

In [ ]:
# Rodada 31

df['Rodada 31'] = pd.Series(dtype='int') 
if (SAN.motivate()) - JUV.motivate() > 5:
  df.loc[9, 'Rodada 31'] = 3
elif (SAN.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 31'] = 1
  df.loc[9,'Rodada 31'] = 1
else:
  df.loc[19, 'Rodada 31'] = 3

if (CTB.motivate()) - BRA.motivate() > 5:
  df.loc[15, 'Rodada 31'] = 3
elif (CTB.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 31'] = 1
  df.loc[15,'Rodada 31'] = 1
else:
  df.loc[10, 'Rodada 31'] = 3

if (CAM.motivate()) - CEA.motivate() > 5:
  df.loc[6, 'Rodada 31'] = 3
elif (CAM.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 31'] = 1
  df.loc[6,'Rodada 31'] = 1
else:
  df.loc[13, 'Rodada 31'] = 3

if (CUI.motivate()) - FLA.motivate() > 5:
  df.loc[16, 'Rodada 31'] = 3
elif (CUI.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 31'] = 1
  df.loc[16,'Rodada 31'] = 1
else:
  df.loc[2, 'Rodada 31'] = 3

if (INT.motivate()) - GOI.motivate() > 5:
  df.loc[1, 'Rodada 31'] = 3
elif (INT.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (INT.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 31'] = 1
  df.loc[1,'Rodada 31'] = 1
else:
  df.loc[8, 'Rodada 31'] = 3

if (FLU.motivate()) - AME.motivate() > 5:
  df.loc[3, 'Rodada 31'] = 3
elif (FLU.lastMotivation*1.15) - AME.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 31'] = 1
  df.loc[3,'Rodada 31'] = 1
else:
  df.loc[7, 'Rodada 31'] = 3

if (COR.motivate()) - ATH.motivate() > 5:
  df.loc[4, 'Rodada 31'] = 3
elif (COR.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (COR.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 31'] = 1
  df.loc[4,'Rodada 31'] = 1
else:
  df.loc[5, 'Rodada 31'] = 3

if (SAO.motivate()) - BOT.motivate() > 5:
  df.loc[12, 'Rodada 31'] = 3
elif (SAO.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 31'] = 1
  df.loc[12,'Rodada 31'] = 1
else:
  df.loc[11, 'Rodada 31'] = 3

if (ATL.motivate()) - PAL.motivate() > 5:
  df.loc[18, 'Rodada 31'] = 3
elif (ATL.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 31'] = 1
  df.loc[18,'Rodada 31'] = 1
else:
  df.loc[0, 'Rodada 31'] = 3

if (FOR.motivate()) - AVA.motivate() > 5:
  df.loc[14, 'Rodada 31'] = 3
elif (FOR.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 31'] = 1
  df.loc[14,'Rodada 31'] = 1
else:
  df.loc[17, 'Rodada 31'] = 3

In [ ]:
# Rodada 32

df['Rodada 32'] = pd.Series(dtype='int')
if (CEA.motivate()) - CUI.motivate() > 5:
  df.loc[13, 'Rodada 32'] = 3
elif (CEA.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 32'] = 1
  df.loc[13,'Rodada 32'] = 1
else:
  df.loc[16, 'Rodada 32'] = 3

if (BRA.motivate()) - SAN.motivate() > 5:
  df.loc[10, 'Rodada 32'] = 3
elif (BRA.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 32'] = 1
  df.loc[10,'Rodada 32'] = 1
else:
  df.loc[9, 'Rodada 32'] = 3

if (FLA.motivate()) - CAM.motivate() > 5:
  df.loc[2, 'Rodada 32'] = 3
elif (FLA.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 32'] = 1
  df.loc[2,'Rodada 32'] = 1
else:
  df.loc[6, 'Rodada 32'] = 3

if (GOI.motivate()) - COR.motivate() > 5:
  df.loc[8, 'Rodada 32'] = 3
elif (GOI.lastMotivation*1.15) - COR.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 32'] = 1
  df.loc[8,'Rodada 32'] = 1
else:
  df.loc[4, 'Rodada 32'] = 3

if (ATH.motivate()) - CTB.motivate() > 5:
  df.loc[5, 'Rodada 32'] = 3
elif (ATH.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 32'] = 1
  df.loc[5,'Rodada 32'] = 1
else:
  df.loc[15, 'Rodada 32'] = 3

if (BOT.motivate()) - INT.motivate() > 5:
  df.loc[11, 'Rodada 32'] = 3
elif (BOT.lastMotivation*1.15) - INT.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 32'] = 1
  df.loc[11,'Rodada 32'] = 1
else:
  df.loc[1, 'Rodada 32'] = 3

if (AME.motivate()) - FOR.motivate() > 5:
  df.loc[7, 'Rodada 32'] = 3
elif (AME.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (AME.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 32'] = 1
  df.loc[7,'Rodada 32'] = 1
else:
  df.loc[14, 'Rodada 32'] = 3

if (JUV.motivate()) - ATL.motivate() > 5:
  df.loc[19, 'Rodada 32'] = 3
elif (JUV.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 32'] = 1
  df.loc[19,'Rodada 32'] = 1
else:
  df.loc[18, 'Rodada 32'] = 3

if (AVA.motivate()) - FLU.motivate() > 5:
  df.loc[17, 'Rodada 32'] = 3
elif (AVA.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 32'] = 1
  df.loc[17,'Rodada 32'] = 1
else:
  df.loc[3, 'Rodada 32'] = 3

if (PAL.motivate()) - SAO.motivate() > 5:
  df.loc[0, 'Rodada 32'] = 3
elif (PAL.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 32'] = 1
  df.loc[0,'Rodada 32'] = 1
else:
  df.loc[12, 'Rodada 32'] = 3

In [ ]:
# Rodada 33

df['Rodada 33'] = pd.Series(dtype='int')
if (CTB.motivate()) - INT.motivate() > 5:
  df.loc[15, 'Rodada 33'] = 3
elif (CTB.lastMotivation*1.15) - INT.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 33'] = 1
  df.loc[15,'Rodada 33'] = 1
else:
  df.loc[1, 'Rodada 33'] = 3

if (BRA.motivate()) - ATH.motivate() > 5:
  df.loc[10, 'Rodada 33'] = 3
elif (BRA.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 33'] = 1
  df.loc[10,'Rodada 33'] = 1
else:
  df.loc[5, 'Rodada 33'] = 3

if (AME.motivate()) - FLA.motivate() > 5:
  df.loc[7, 'Rodada 33'] = 3
elif (AME.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (AME.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 33'] = 1
  df.loc[7,'Rodada 33'] = 1
else:
  df.loc[2, 'Rodada 33'] = 3

if (SAN.motivate()) - COR.motivate() > 5:
  df.loc[9, 'Rodada 33'] = 3
elif (SAN.lastMotivation*1.15) - COR.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 33'] = 1
  df.loc[9,'Rodada 33'] = 1
else:
  df.loc[4, 'Rodada 33'] = 3

if (FOR.motivate()) - CAM.motivate() > 5:
  df.loc[14, 'Rodada 33'] = 3
elif (FOR.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 33'] = 1
  df.loc[14,'Rodada 33'] = 1
else:
  df.loc[6, 'Rodada 33'] = 3

if (PAL.motivate()) - AVA.motivate() > 5:
  df.loc[0, 'Rodada 33'] = 3
elif (PAL.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 33'] = 1
  df.loc[0,'Rodada 33'] = 1
else:
  df.loc[17, 'Rodada 33'] = 3

if (JUV.motivate()) - SAO.motivate() > 5:
  df.loc[19, 'Rodada 33'] = 3
elif (JUV.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 33'] = 1
  df.loc[19,'Rodada 33'] = 1
else:
  df.loc[12, 'Rodada 33'] = 3

if (ATL.motivate()) - CEA.motivate() > 5:
  df.loc[18, 'Rodada 33'] = 3
elif (ATL.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 33'] = 1
  df.loc[18,'Rodada 33'] = 1
else:
  df.loc[13, 'Rodada 33'] = 3

if (CUI.motivate()) - GOI.motivate() > 5:
  df.loc[16, 'Rodada 33'] = 3
elif (CUI.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 33'] = 1
  df.loc[16,'Rodada 33'] = 1
else:
  df.loc[8, 'Rodada 33'] = 3

if (FLU.motivate()) - BOT.motivate() > 5:
  df.loc[3, 'Rodada 33'] = 3
elif (FLU.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 33'] = 1
  df.loc[3,'Rodada 33'] = 1
else:
  df.loc[11, 'Rodada 33'] = 3

In [ ]:
# Rodada 34

df['Rodada 34'] = pd.Series(dtype='int') 
if (COR.motivate()) - FLU.motivate() > 5:
  df.loc[4, 'Rodada 34'] = 3
elif (COR.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (COR.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 34'] = 1
  df.loc[4,'Rodada 34'] = 1
else:
  df.loc[3, 'Rodada 34'] = 3

if (CAM.motivate()) - JUV.motivate() > 5:
  df.loc[6, 'Rodada 34'] = 3
elif (CAM.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 34'] = 1
  df.loc[6,'Rodada 34'] = 1
else:
  df.loc[19, 'Rodada 34'] = 3

if (FLA.motivate()) - SAN.motivate() > 5:
  df.loc[2, 'Rodada 34'] = 3
elif (FLA.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 34'] = 1
  df.loc[2,'Rodada 34'] = 1
else:
  df.loc[9, 'Rodada 34'] = 3

if (INT.motivate()) - CEA.motivate() > 5:
  df.loc[2, 'Rodada 34'] = 3
elif (INT.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (INT.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 34'] = 1
  df.loc[2,'Rodada 34'] = 1
else:
  df.loc[13, 'Rodada 34'] = 3

if (ATH.motivate()) - PAL.motivate() > 5:
  df.loc[5, 'Rodada 34'] = 3
elif (ATH.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 34'] = 1
  df.loc[5,'Rodada 34'] = 1
else:
  df.loc[0, 'Rodada 34'] = 3

if (CUI.motivate()) - AVA.motivate() > 5:
  df.loc[16, 'Rodada 34'] = 3
elif (CUI.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 34'] = 1
  df.loc[16,'Rodada 34'] = 1
else:
  df.loc[17, 'Rodada 34'] = 3

if (SAO.motivate()) - ATL.motivate() > 5:
  df.loc[12, 'Rodada 34'] = 3
elif (SAO.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 34'] = 1
  df.loc[12,'Rodada 34'] = 1
else:
  df.loc[18, 'Rodada 34'] = 3

if (GOI.motivate()) - AME.motivate() > 5:
  df.loc[8, 'Rodada 34'] = 3
elif (GOI.lastMotivation*1.15) - AME.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 34'] = 1
  df.loc[8,'Rodada 34'] = 1
else:
  df.loc[7, 'Rodada 34'] = 3

if (FOR.motivate()) - CTB.motivate() > 5:
  df.loc[14, 'Rodada 34'] = 3
elif (FOR.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 34'] = 1
  df.loc[14,'Rodada 34'] = 1
else:
  df.loc[15, 'Rodada 34'] = 3

if (BOT.motivate()) - BRA.motivate() > 5:
  df.loc[11, 'Rodada 34'] = 3
elif (BOT.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 34'] = 1
  df.loc[11,'Rodada 34'] = 1
else:
  df.loc[10, 'Rodada 34'] = 3

In [ ]:
# Rodada 35

df['Rodada 35'] = pd.Series(dtype='int') 
if (AVA.motivate()) - BRA.motivate() > 5:
  df.loc[17, 'Rodada 35'] = 3
elif (AVA.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 35'] = 1
  df.loc[17,'Rodada 35'] = 1
else:
  df.loc[10, 'Rodada 35'] = 3

if (CEA.motivate()) - FLU.motivate() > 5:
  df.loc[13, 'Rodada 35'] = 3
elif (CEA.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 35'] = 1
  df.loc[13,'Rodada 35'] = 1
else:
  df.loc[3, 'Rodada 35'] = 3

if (ATH.motivate()) - GOI.motivate() > 5:
  df.loc[5, 'Rodada 35'] = 3
elif (ATH.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 35'] = 1
  df.loc[5,'Rodada 35'] = 1
else:
  df.loc[8, 'Rodada 35'] = 3

if (JUV.motivate()) - CTB.motivate() > 5:
  df.loc[19, 'Rodada 35'] = 3
elif (JUV.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 35'] = 1
  df.loc[19,'Rodada 35'] = 1
else:
  df.loc[15, 'Rodada 35'] = 3

if (FLA.motivate()) - COR.motivate() > 5:
  df.loc[2, 'Rodada 35'] = 3
elif (FLA.lastMotivation*1.15) - COR.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 35'] = 1
  df.loc[2,'Rodada 35'] = 1
else:
  df.loc[4, 'Rodada 35'] = 3

if (SAO.motivate()) - CAM.motivate() > 5:
  df.loc[12, 'Rodada 35'] = 3
elif (SAO.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 35'] = 1
  df.loc[12,'Rodada 35'] = 1
else:
  df.loc[6, 'Rodada 35'] = 3

if (ATL.motivate()) - SAN.motivate() > 5:
  df.loc[18, 'Rodada 35'] = 3
elif (ATL.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 35'] = 1
  df.loc[18,'Rodada 35'] = 1
else:
  df.loc[9, 'Rodada 35'] = 3

if (PAL.motivate()) - FOR.motivate() > 5:
  df.loc[0, 'Rodada 35'] = 3
elif (PAL.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 35'] = 1
  df.loc[0,'Rodada 35'] = 1
else:
  df.loc[14, 'Rodada 35'] = 3

if (BOT.motivate()) - CUI.motivate() > 5:
  df.loc[11, 'Rodada 35'] = 3
elif (BOT.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 35'] = 1
  df.loc[11,'Rodada 35'] = 1
else:
  df.loc[16, 'Rodada 35'] = 3

if (AME.motivate()) - INT.motivate() > 5:
  df.loc[7, 'Rodada 35'] = 3
elif (AME.lastMotivation*1.15) - INT.lastMotivation <= 5 and (AME.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 35'] = 1
  df.loc[7,'Rodada 35'] = 1
else:
  df.loc[1, 'Rodada 35'] = 3

In [ ]:
# Rodada 36

df['Rodada 36'] = pd.Series(dtype='int') 
if (INT.motivate()) - ATH.motivate() > 5:
  df.loc[1, 'Rodada 36'] = 3
elif (INT.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (INT.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 36'] = 1
  df.loc[1,'Rodada 36'] = 1
else:
  df.loc[5, 'Rodada 36'] = 3

if (CTB.motivate()) - FLA.motivate() > 5:
  df.loc[15, 'Rodada 36'] = 3
elif (CTB.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 36'] = 1
  df.loc[15,'Rodada 36'] = 1
else:
  df.loc[2, 'Rodada 36'] = 3

if (SAN.motivate()) - AVA.motivate() > 5:
  df.loc[9, 'Rodada 36'] = 3
elif (SAN.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 36'] = 1
  df.loc[9,'Rodada 36'] = 1
else:
  df.loc[17, 'Rodada 36'] = 3

if (COR.motivate()) - CEA.motivate() > 5:
  df.loc[4, 'Rodada 36'] = 3
elif (COR.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (COR.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 36'] = 1
  df.loc[4,'Rodada 36'] = 1
else:
  df.loc[13, 'Rodada 36'] = 3

if (GOI.motivate()) - JUV.motivate() > 5:
  df.loc[8, 'Rodada 36'] = 3
elif (GOI.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 36'] = 1
  df.loc[8,'Rodada 36'] = 1
else:
  df.loc[19, 'Rodada 36'] = 3

if (FLU.motivate()) - SAO.motivate() > 5:
  df.loc[3, 'Rodada 36'] = 3
elif (FLU.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 36'] = 1
  df.loc[3,'Rodada 36'] = 1
else:
  df.loc[12, 'Rodada 36'] = 3

if (CAM.motivate()) - BOT.motivate() > 5:
  df.loc[6, 'Rodada 36'] = 3
elif (CAM.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 36'] = 1
  df.loc[6,'Rodada 36'] = 1
else:
  df.loc[11, 'Rodada 36'] = 3

if (FOR.motivate()) - ATL.motivate() > 5:
  df.loc[14, 'Rodada 36'] = 3
elif (FOR.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 36'] = 1
  df.loc[14,'Rodada 36'] = 1
else:
  df.loc[18, 'Rodada 36'] = 3

if (BRA.motivate()) - AME.motivate() > 5:
  df.loc[10, 'Rodada 36'] = 3
elif (BRA.lastMotivation*1.15) - AME.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 36'] = 1
  df.loc[10,'Rodada 36'] = 1
else:
  df.loc[7, 'Rodada 36'] = 3

if (CUI.motivate()) - PAL.motivate() > 5:
  df.loc[16, 'Rodada 36'] = 3
elif (CUI.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 36'] = 1
  df.loc[16,'Rodada 36'] = 1
else:
  df.loc[0, 'Rodada 36'] = 3

In [ ]:
# Rodada 37

df['Rodada 37'] = pd.Series(dtype='int') 
if (AVA.motivate()) - CEA.motivate() > 5:
  df.loc[17, 'Rodada 37'] = 3
elif (AVA.lastMotivation*1.15) - CEA.lastMotivation <= 5 and (AVA.lastMotivation*1.15) - CEA.lastMotivation >= -5:
  df.loc[13,'Rodada 37'] = 1
  df.loc[17,'Rodada 37'] = 1
else:
  df.loc[13, 'Rodada 37'] = 3

if (FOR.motivate()) - BRA.motivate() > 5:
  df.loc[14, 'Rodada 37'] = 3
elif (FOR.lastMotivation*1.15) - BRA.lastMotivation <= 5 and (FOR.lastMotivation*1.15) - BRA.lastMotivation >= -5:
  df.loc[10,'Rodada 37'] = 1
  df.loc[14,'Rodada 37'] = 1
else:
  df.loc[10, 'Rodada 37'] = 3

if (FLU.motivate()) - GOI.motivate() > 5:
  df.loc[3, 'Rodada 37'] = 3
elif (FLU.lastMotivation*1.15) - GOI.lastMotivation <= 5 and (FLU.lastMotivation*1.15) - GOI.lastMotivation >= -5:
  df.loc[8,'Rodada 37'] = 1
  df.loc[3,'Rodada 37'] = 1
else:
  df.loc[8, 'Rodada 37'] = 3

if (ATL.motivate()) - ATH.motivate() > 5:
  df.loc[18, 'Rodada 37'] = 3
elif (ATL.lastMotivation*1.15) - ATH.lastMotivation <= 5 and (ATL.lastMotivation*1.15) - ATH.lastMotivation >= -5:
  df.loc[5,'Rodada 37'] = 1
  df.loc[18,'Rodada 37'] = 1
else:
  df.loc[5, 'Rodada 37'] = 3

if (JUV.motivate()) - FLA.motivate() > 5:
  df.loc[19, 'Rodada 37'] = 3
elif (JUV.lastMotivation*1.15) - FLA.lastMotivation <= 5 and (JUV.lastMotivation*1.15) - FLA.lastMotivation >= -5:
  df.loc[2,'Rodada 37'] = 1
  df.loc[19,'Rodada 37'] = 1
else:
  df.loc[2, 'Rodada 37'] = 3

if (SAO.motivate()) - INT.motivate() > 5:
  df.loc[12, 'Rodada 37'] = 3
elif (SAO.lastMotivation*1.15) - INT.lastMotivation <= 5 and (SAO.lastMotivation*1.15) - INT.lastMotivation >= -5:
  df.loc[1,'Rodada 37'] = 1
  df.loc[12,'Rodada 37'] = 1
else:
  df.loc[1, 'Rodada 37'] = 3

if (CTB.motivate()) - COR.motivate() > 5:
  df.loc[15, 'Rodada 37'] = 3
elif (CTB.lastMotivation*1.15) - COR.lastMotivation <= 5 and (CTB.lastMotivation*1.15) - COR.lastMotivation >= -5:
  df.loc[4,'Rodada 37'] = 1
  df.loc[15,'Rodada 37'] = 1
else:
  df.loc[4, 'Rodada 37'] = 3

if (BOT.motivate()) - SAN.motivate() > 5:
  df.loc[11, 'Rodada 37'] = 3
elif (BOT.lastMotivation*1.15) - SAN.lastMotivation <= 5 and (BOT.lastMotivation*1.15) - SAN.lastMotivation >= -5:
  df.loc[9,'Rodada 37'] = 1
  df.loc[11,'Rodada 37'] = 1
else:
  df.loc[9, 'Rodada 37'] = 3

if (CAM.motivate()) - CUI.motivate() > 5:
  df.loc[6, 'Rodada 37'] = 3
elif (CAM.lastMotivation*1.15) - CUI.lastMotivation <= 5 and (CAM.lastMotivation*1.15) - CUI.lastMotivation >= -5:
  df.loc[16,'Rodada 37'] = 1
  df.loc[6,'Rodada 37'] = 1
else:
  df.loc[16, 'Rodada 37'] = 3

if (PAL.motivate()) - AME.motivate() > 5:
  df.loc[0, 'Rodada 37'] = 3
elif (PAL.lastMotivation*1.15) - AME.lastMotivation <= 5 and (PAL.lastMotivation*1.15) - AME.lastMotivation >= -5:
  df.loc[7,'Rodada 37'] = 1
  df.loc[0,'Rodada 37'] = 1
else:
  df.loc[7, 'Rodada 37'] = 3

In [ ]:
# Rodada 38

df['Rodada 38'] = pd.Series(dtype='int') 
if (GOI.motivate()) - SAO.motivate() > 5:
  df.loc[8, 'Rodada 38'] = 3
elif (GOI.lastMotivation*1.15) - SAO.lastMotivation <= 5 and (GOI.lastMotivation*1.15) - SAO.lastMotivation >= -5:
  df.loc[12,'Rodada 38'] = 1
  df.loc[8,'Rodada 38'] = 1
else:
  df.loc[12, 'Rodada 38'] = 3

if (ATH.motivate()) - BOT.motivate() > 5:
  df.loc[5, 'Rodada 38'] = 3
elif (ATH.lastMotivation*1.15) - BOT.lastMotivation <= 5 and (ATH.lastMotivation*1.15) - BOT.lastMotivation >= -5:
  df.loc[11,'Rodada 38'] = 1
  df.loc[5,'Rodada 38'] = 1
else:
  df.loc[11, 'Rodada 38'] = 3

if (FLA.motivate()) - AVA.motivate() > 5:
  df.loc[2, 'Rodada 38'] = 3
elif (FLA.lastMotivation*1.15) - AVA.lastMotivation <= 5 and (FLA.lastMotivation*1.15) - AVA.lastMotivation >= -5:
  df.loc[17,'Rodada 38'] = 1
  df.loc[2,'Rodada 38'] = 1
else:
  df.loc[17, 'Rodada 38'] = 3

if (BRA.motivate()) - FLU.motivate() > 5:
  df.loc[10, 'Rodada 38'] = 3
elif (BRA.lastMotivation*1.15) - FLU.lastMotivation <= 5 and (BRA.lastMotivation*1.15) - FLU.lastMotivation >= -5:
  df.loc[3,'Rodada 38'] = 1
  df.loc[10,'Rodada 38'] = 1
else:
  df.loc[3, 'Rodada 38'] = 3

if (INT.motivate()) - PAL.motivate() > 5:
  df.loc[1, 'Rodada 38'] = 3
elif (INT.lastMotivation*1.15) - PAL.lastMotivation <= 5 and (INT.lastMotivation*1.15) - PAL.lastMotivation >= -5:
  df.loc[0,'Rodada 38'] = 1
  df.loc[1,'Rodada 38'] = 1
else:
  df.loc[0, 'Rodada 38'] = 3

if (CEA.motivate()) - JUV.motivate() > 5:
  df.loc[13, 'Rodada 38'] = 3
elif (CEA.lastMotivation*1.15) - JUV.lastMotivation <= 5 and (CEA.lastMotivation*1.15) - JUV.lastMotivation >= -5:
  df.loc[19,'Rodada 38'] = 1
  df.loc[13,'Rodada 38'] = 1
else:
  df.loc[19, 'Rodada 38'] = 3

if (COR.motivate()) - CAM.motivate() > 5:
  df.loc[4, 'Rodada 38'] = 3
elif (COR.lastMotivation*1.15) - CAM.lastMotivation <= 5 and (COR.lastMotivation*1.15) - CAM.lastMotivation >= -5:
  df.loc[6,'Rodada 38'] = 1
  df.loc[4,'Rodada 38'] = 1
else:
  df.loc[6, 'Rodada 38'] = 3

if (AME.motivate()) - ATL.motivate() > 5:
  df.loc[7, 'Rodada 38'] = 3
elif (AME.lastMotivation*1.15) - ATL.lastMotivation <= 5 and (AME.lastMotivation*1.15) - ATL.lastMotivation >= -5:
  df.loc[18,'Rodada 38'] = 1
  df.loc[7,'Rodada 38'] = 1
else:
  df.loc[18, 'Rodada 38'] = 3

if (SAN.motivate()) - FOR.motivate() > 5:
  df.loc[9, 'Rodada 38'] = 3
elif (SAN.lastMotivation*1.15) - FOR.lastMotivation <= 5 and (SAN.lastMotivation*1.15) - FOR.lastMotivation >= -5:
  df.loc[14,'Rodada 38'] = 1
  df.loc[9,'Rodada 38'] = 1
else:
  df.loc[14, 'Rodada 38'] = 3

if (CUI.motivate()) - CTB.motivate() > 5:
  df.loc[16, 'Rodada 38'] = 3
elif (CUI.lastMotivation*1.15) - CTB.lastMotivation <= 5 and (CUI.lastMotivation*1.15) - CTB.lastMotivation >= -5:
  df.loc[15,'Rodada 38'] = 1
  df.loc[16,'Rodada 38'] = 1
else:
  df.loc[15, 'Rodada 38'] = 3

In [ ]:
display(df)

,TIME,Rodada 1,Rodada 2,Rodada 3,Rodada 4,Rodada 5,Rodada 6,Rodada 7,Rodada 8,Rodada 9,...,Rodada 29,Rodada 30,Rodada 31,Rodada 32,Rodada 33,Rodada 34,Rodada 35,Rodada 36,Rodada 37,Rodada 38
0,PALMEIRAS|62.35,3.0,1.0,3.0,1.0,3.0,3.0,3.0,NaN,NaN,...,3.0,3.0,3.0,3.0,3.0,NaN,1.0,3.0,3.0,NaN
1,INTERNACIONAL|46.46,NaN,3.0,1.0,3.0,NaN,1.0,NaN,1.0,NaN,...,3.0,NaN,1.0,1.0,NaN,NaN,3.0,1.0,3.0,3.0
2,FLAMENGO|69.36,3.0,3.0,NaN,1.0,3.0,3.0,3.0,3.0,3.0,...,1.0,3.0,3.0,NaN,1.0,1.0,NaN,1.0,3.0,3.0
3,FLUMINENSE|51.98,3.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,NaN,3.0,NaN,NaN,1.0,NaN,3.0,NaN,3.0,NaN
4,CORINTHIANS|52.46,NaN,1.0,NaN,1.0,3.0,1.0,NaN,3.0,1.0,...,NaN,3.0,NaN,1.0,1.0,3.0,3.0,NaN,NaN,NaN
5,ATHLETICO-PR|57.87,NaN,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,...,3.0,NaN,3.0,3.0,3.0,3.0,3.0,1.0,1.0,3.0
6,ATLÉTICO-MG|75.26,3.0,NaN,3.0,1.0,3.0,1.0,1.0,1.0,3.0,...,3.0,3.0,3.0,3.0,1.0,3.0,1.0,1.0,3.0,3.0
7,AMÉRICA-MG|49.83,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,3.0,...,NaN,3.0,3.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0
8,GOIÁS|52.96,1.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,1.0,...,1.0,1.0,1.0,1.0,1.0,3.0,NaN,NaN,NaN,3.0
9,SANTOS|45.94,NaN,1.0,3.0,1.0,1.0,NaN,1.0,3.0,NaN,...,NaN,NaN,3.0,NaN,1.0,3.0,NaN,1.0,3.0,1.0
10,BRAGANTINO|59.11,NaN,3.0,3.0,3.0,NaN,NaN,1.0,NaN,3.0,...,1.0,3.0,NaN,3.0,NaN,1.0,NaN,3.0,3.0,3.0
11,BOTAFOGO|59.65,3.0,3.0,3.0,3.0,NaN,3.0,3.0,1.0,1.0,...,NaN,3.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN
12,SÃO PAULO|50.23,3.0,NaN,NaN,1.0,NaN,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,NaN,1.0,1.0,1.0,3.0,NaN,NaN
13,CEARÁ|49.17,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,3.0,...,3.0,1.0,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN
14,FORTALEZA|58.40,1.0,NaN,3.0,1.0,3.0,NaN,3.0,3.0,NaN,...,1.0,3.0,1.0,3.0,1.0,3.0,1.0,3.0,NaN,1.0
15,CORITIBA|54.04,1.0,1.0,NaN,1.0,NaN,3.0,1.0,1.0,NaN,...,3.0,NaN,3.0,NaN,3.0,NaN,3.0,1.0,3.0,NaN
16,CUIABÁ|46.43,1.0,NaN,1.0,1.0,1.0,NaN,3.0,NaN,NaN,...,3.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,3.0
17,AVAÍ|56.79,3.0,1.0,3.0,NaN,3.0,1.0,NaN,1.0,NaN,...,NaN,NaN,1.0,3.0,NaN,3.0,3.0,1.0,3.0,NaN
18,ATLÉTICO-GO|53.70,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,1.0,...,3.0,NaN,NaN,3.0,3.0,1.0,3.0,NaN,1.0,1.0
19,JUVENTUDE|43.01,3.0,NaN,1.0,NaN,3.0,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,3.0

In [ ]:
df['Final'] = df.sum(axis=1)

display(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

,TIME,Rodada 1,Rodada 2,Rodada 3,Rodada 4,Rodada 5,Rodada 6,Rodada 7,Rodada 8,Rodada 9,...,Rodada 30,Rodada 31,Rodada 32,Rodada 33,Rodada 34,Rodada 35,Rodada 36,Rodada 37,Rodada 38,Final
0,PALMEIRAS|62.35,3.0,1.0,3.0,1.0,3.0,3.0,3.0,NaN,NaN,...,3.0,3.0,3.0,3.0,NaN,1.0,3.0,3.0,NaN,76.0
1,INTERNACIONAL|46.46,NaN,3.0,1.0,3.0,NaN,1.0,NaN,1.0,NaN,...,NaN,1.0,1.0,NaN,NaN,3.0,1.0,3.0,3.0,34.0
2,FLAMENGO|69.36,3.0,3.0,NaN,1.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,NaN,1.0,1.0,NaN,1.0,3.0,3.0,72.0
3,FLUMINENSE|51.98,3.0,3.0,1.0,1.0,NaN,NaN,NaN,NaN,1.0,...,3.0,NaN,NaN,1.0,NaN,3.0,NaN,3.0,NaN,48.0
4,CORINTHIANS|52.46,NaN,1.0,NaN,1.0,3.0,1.0,NaN,3.0,1.0,...,3.0,NaN,1.0,1.0,3.0,3.0,NaN,NaN,NaN,51.0
5,ATHLETICO-PR|57.87,NaN,3.0,3.0,NaN,3.0,3.0,3.0,3.0,3.0,...,NaN,3.0,3.0,3.0,3.0,3.0,1.0,1.0,3.0,72.0
6,ATLÉTICO-MG|75.26,3.0,NaN,3.0,1.0,3.0,1.0,1.0,1.0,3.0,...,3.0,3.0,3.0,1.0,3.0,1.0,1.0,3.0,3.0,75.0
7,AMÉRICA-MG|49.83,NaN,3.0,NaN,3.0,NaN,NaN,NaN,NaN,3.0,...,3.0,3.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,45.0
8,GOIÁS|52.96,1.0,1.0,NaN,1.0,NaN,3.0,NaN,3.0,1.0,...,1.0,1.0,1.0,1.0,3.0,NaN,NaN,NaN,3.0,45.0
9,SANTOS|45.94,NaN,1.0,3.0,1.0,1.0,NaN,1.0,3.0,NaN,...,NaN,3.0,NaN,1.0,3.0,NaN,1.0,3.0,1.0,43.0
10,BRAGANTINO|59.11,NaN,3.0,3.0,3.0,NaN,NaN,1.0,NaN,3.0,...,3.0,NaN,3.0,NaN,1.0,NaN,3.0,3.0,3.0,55.0
11,BOTAFOGO|59.65,3.0,3.0,3.0,3.0,NaN,3.0,3.0,1.0,1.0,...,3.0,3.0,1.0,1.0,1.0,3.0,1.0,NaN,NaN,62.0
12,SÃO PAULO|50.23,3.0,NaN,NaN,1.0,NaN,3.0,3.0,3.0,3.0,...,NaN,NaN,NaN,1.0,1.0,1.0,3.0,NaN,NaN,44.0
13,CEARÁ|49.17,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,3.0,...,1.0,NaN,NaN,NaN,1.0,NaN,3.0,NaN,NaN,28.0
14,FORTALEZA|58.40,1.0,NaN,3.0,1.0,3.0,NaN,3.0,3.0,NaN,...,3.0,1.0,3.0,1.0,3.0,1.0,3.0,NaN,1.0,54.0
15,CORITIBA|54.04,1.0,1.0,NaN,1.0,NaN,3.0,1.0,1.0,NaN,...,NaN,3.0,NaN,3.0,NaN,3.0,1.0,3.0,NaN,55.0
16,CUIABÁ|46.43,1.0,NaN,1.0,1.0,1.0,NaN,3.0,NaN,NaN,...,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,3.0,36.0
17,AVAÍ|56.79,3.0,1.0,3.0,NaN,3.0,1.0,NaN,1.0,NaN,...,NaN,1.0,3.0,NaN,3.0,3.0,1.0,3.0,NaN,54.0
18,ATLÉTICO-GO|53.70,NaN,NaN,NaN,1.0,3.0,1.0,1.0,1.0,1.0,...,NaN,NaN,3.0,3.0,1.0,3.0,NaN,1.0,1.0,59.0
19,JUVENTUDE|43.01,3.0,NaN,1.0,NaN,3.0,1.0,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,3.0,NaN,3.0,40.0

In [ ]:
df_campeao1 = df.sort_values(by='Final', ascending=False)
df_campeao1.fillna(value = 0, inplace = True)
display(df_campeao1)

,TIME,Rodada 1,Rodada 2,Rodada 3,Rodada 4,Rodada 5,Rodada 6,Rodada 7,Rodada 8,Rodada 9,...,Rodada 30,Rodada 31,Rodada 32,Rodada 33,Rodada 34,Rodada 35,Rodada 36,Rodada 37,Rodada 38,Final
0,PALMEIRAS|62.35,3.0,1.0,3.0,1.0,3.0,3.0,3.0,0.0,0.0,...,3.0,3.0,3.0,3.0,0.0,1.0,3.0,3.0,0.0,76.0
6,ATLÉTICO-MG|75.26,3.0,0.0,3.0,1.0,3.0,1.0,1.0,1.0,3.0,...,3.0,3.0,3.0,1.0,3.0,1.0,1.0,3.0,3.0,75.0
2,FLAMENGO|69.36,3.0,3.0,0.0,1.0,3.0,3.0,3.0,3.0,3.0,...,3.0,3.0,0.0,1.0,1.0,0.0,1.0,3.0,3.0,72.0
5,ATHLETICO-PR|57.87,0.0,3.0,3.0,0.0,3.0,3.0,3.0,3.0,3.0,...,0.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0,3.0,72.0
11,BOTAFOGO|59.65,3.0,3.0,3.0,3.0,0.0,3.0,3.0,1.0,1.0,...,3.0,3.0,1.0,1.0,1.0,3.0,1.0,0.0,0.0,62.0
18,ATLÉTICO-GO|53.70,0.0,0.0,0.0,1.0,3.0,1.0,1.0,1.0,1.0,...,0.0,0.0,3.0,3.0,1.0,3.0,0.0,1.0,1.0,59.0
15,CORITIBA|54.04,1.0,1.0,0.0,1.0,0.0,3.0,1.0,1.0,0.0,...,0.0,3.0,0.0,3.0,0.0,3.0,1.0,3.0,0.0,55.0
10,BRAGANTINO|59.11,0.0,3.0,3.0,3.0,0.0,0.0,1.0,0.0,3.0,...,3.0,0.0,3.0,0.0,1.0,0.0,3.0,3.0,3.0,55.0
14,FORTALEZA|58.40,1.0,0.0,3.0,1.0,3.0,0.0,3.0,3.0,0.0,...,3.0,1.0,3.0,1.0,3.0,1.0,3.0,0.0,1.0,54.0
17,AVAÍ|56.79,3.0,1.0,3.0,0.0,3.0,1.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,3.0,3.0,1.0,3.0,0.0,54.0
4,CORINTHIANS|52.46,0.0,1.0,0.0,1.0,3.0,1.0,0.0,3.0,1.0,...,3.0,0.0,1.0,1.0,3.0,3.0,0.0,0.0,0.0,51.0
3,FLUMINENSE|51.98,3.0,3.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,3.0,0.0,0.0,1.0,0.0,3.0,0.0,3.0,0.0,48.0
8,GOIÁS|52.96,1.0,1.0,0.0,1.0,0.0,3.0,0.0,3.0,1.0,...,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,3.0,45.0
7,AMÉRICA-MG|49.83,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,...,3.0,3.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,45.0
12,SÃO PAULO|50.23,3.0,0.0,0.0,1.0,0.0,3.0,3.0,3.0,3.0,...,0.0,0.0,0.0,1.0,1.0,1.0,3.0,0.0,0.0,44.0
9,SANTOS|45.94,0.0,1.0,3.0,1.0,1.0,0.0,1.0,3.0,0.0,...,0.0,3.0,0.0,1.0,3.0,0.0,1.0,3.0,1.0,43.0
19,JUVENTUDE|43.01,3.0,0.0,1.0,0.0,3.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,3.0,40.0
16,CUIABÁ|46.43,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,0.0,...,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,3.0,36.0
1,INTERNACIONAL|46.46,0.0,3.0,1.0,3.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,1.0,0.0,0.0,3.0,1.0,3.0,3.0,34.0
13,CEARÁ|49.17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0,...,1.0,0.0,0.0,0.0,1.0,0.0,3.0,0.0,0.0,28.0